[2020-08-17 05:43] ErikEJ commented on #470
Thanks, could you show me how you use this?

[2020-08-17 07:40] zzurka commented on #452
Well, if it's only me who needs it then I'll just use the old version. But there's a problem with the version I downloaded. The version in the wiki is 2.4.81 and it doesn't work. I found in my downloads folder version 2.4.51 and it works.

[2020-08-17 07:43] ErikEJ commented on #452
The version in the wiki should be 2.4.51 !?

[2020-08-17 08:28] zzurka commented on #452
I'm pretty sure it didn't work with the version I downloaded from wiki. Only when I installed the version I found in my downloads folder, it worked. I'm gonna have to check what version was that.

[2020-08-17 08:31] ErikEJ commented on #452
I just checked the wiki link, it is 2.4.51!

[2020-08-17 08:41] zzurka commented on #452
You're right, it is 2.4.51, I'm sorry. I just installed the version from the wiki and it works now. The last time I tried it didn't work, maybe I did something wrong. Sorry again.

[2020-08-17 08:54] ErikEJ commented on #452
No worries, happy you are unblocked!

[2020-08-17 12:16] ErikEJ commented on #469
see #340

[2020-08-17 12:16] #469 closed

[2020-08-17 12:17] ErikEJ commented on #463
@hanselsen Look like a Handlebars bug - see https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/136

[2020-08-17 15:00] lkmcelik commented on #470
sure, this is one of the save command that i use

    `using (var tran = context.Database.BeginTransaction())
            {
                try
                {
                        try
                        {
                            if (txtFirmaKodu.Text == string.Empty)
                                txtFirmaKodu.Text = await cariService.GenearetCode();//**procedure**

[2020-08-17 15:30] ErikEJ commented on #470
Where do you call the new public GetDbTransaction method?

[2020-08-17 16:15] lkmcelik commented on #470
in DbContextExtensions class
`public ContextForQueryType(DbConnection connection, IDbContextTransaction tran)
        {
            this.connection = connection;
            this.Database.UseTransaction(GetDbTransaction(tran));//here
        } `

[2020-08-17 17:53] ErikEJ commented on #470
Thanks, so no need for it to be public, then?

[2020-08-17 19:00] #470 closed

[2020-08-17 19:01] ErikEJ commented on #470
Fixed in latest daily build, please try it out and let me know if it works for you - and thanks for the contribution!

[2020-08-17 21:31] lkmcelik commented on #470
you are welcome. Thank you for this plugin, it's very good.

[2020-08-18 06:27] ErikEJ commented on #463
Should be fixed in latest daily build, please try it out and let me know.

[2020-08-18 09:15] hanselsen commented on #463
I now have version 2.4.163, but it is still showing the same NRE.
I did delete the CodeTemplates folder from the disk again.

[2020-08-18 09:19] ErikEJ commented on #463
I think you need to verify the bug, using Handlebars from the command line as described here: https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars#usage and if you are able to do so, file a bug in the Handlebars repo.

[2020-08-18 09:34] hanselsen commented on #463
Alright. Updating the Handlebars package to 3.8.3 did the trick.
Thanks for the support! 👌

[2020-08-18 09:34] #463 closed

[2020-08-18 09:57] ErikEJ commented on #463
@hanselsen I do not understand - the latest Power Tools build also uses 3.8.3 !?

[2020-08-18 10:17] hanselsen commented on #463
Could it be that it used the installed Nuget package (so, old) instead of the package that is bundled with Power Tools?

[2020-08-18 10:21] ErikEJ commented on #463
What is installed in your project and by Power Tools are two completely different things! Power Tools does not run your app.

[2020-08-18 10:23] hanselsen commented on #463
I would think so, but after updating the Nuget package to 3.8.3, it worked...

[2020-08-18 10:27] hanselsen commented on #463
Right now, I have

[code]

But it stopped working again... this is getting frustrating.
Is there a way for me to debug it myself?

[2020-08-18 10:29] ErikEJ commented on #463
Maybe you still have the old version of the extension hanging around,
shut down and restart any VS instances and check %localappdata%\Microsoft\VisualStudio folder (and subfolders)

[2020-08-18 10:50] hanselsen commented on #463
I cleared the cache. Reinstalled the Power Tools and still the NRE.
I also tried it using the CLI as instructed here https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars#usage and that works. Also the template files.

In combination with the Power Tools however, nothing.

[2020-08-18 10:51] ErikEJ commented on #463
I could have made a mistake when I merged - will rebuild the tooling a prep a newer Power Tools build

[2020-08-18 10:55] ErikEJ commented on #463
Update on the way! (Build .164  or newer)

[2020-08-18 10:58] ErikEJ commented on #463
Once installed, you can locate EntityFrameworkCore.Scaffolding.Handlebars.dll and verify the Product version from File Properties

[2020-08-18 11:14] hanselsen commented on #463
Awesome! It works. Thanks for the great tool!

[2020-08-21 11:59] ErikEJ opened #472 "Dacpac reveng: Handle included columns"
see https://github.com/dotnet/efcore/pull/22148

[2020-08-21 15:25] ErikEJ opened #473 "Enable UseDatabasenames with Pluralization for EF Core 5"
https://github.com/dotnet/efcore/issues/12102

[2020-08-22 01:10] PureConsulting opened #474 "Error on downloading daily builds from VSIX Gallery"
I get the following error when trying to download the daily build from VSIX gallery:

----------------------------------------------------------------------------------------
Error.
An error occurred while processing your request.
Request ID: |14e237e8-4e8863942faef125.

Development Mode
Swapping to the Development environment displays detailed information about the error that occurred.

The Devel

[2020-08-22 03:49] #474 closed, assigned to nobody

[2020-08-22 10:56] smarteez17 opened #475 "Importing Stored Procs error"
Hi I getting this error when I want to import the Store Procs

System.Exception: Reverse engineer error:
System.ArgumentException: Requested value 'numeric' was not found.
   at System.Enum.TryParseByName(RuntimeType enumType, String originalValueString, ReadOnlySpan`1 value, Boolean ignoreCase, Boolean throwOnFailure, UInt64& result)
   at System.Enum.TryParseInt32Enum(RuntimeType enumType, Strin

[2020-08-22 18:21] #475 closed, assigned to nobody

[2020-08-22 23:59] PureConsulting opened #476 "System.ArgumentNullException: Value cannot be null when reverse engineering"
Getting the following error when reverse engineering:

System.ArgumentNullException: Value cannot be null.
Parameter name: source
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at EFCorePowerTools.Handlers.ReverseEngineerHandler.<ReverseEngineerCodeFirst>d__3.MoveNext() in C:\projects\efcorepowertools\src\GUI\EFCorePowerTools\Handlers\ReverseEngineerHandler.cs:line 183

###

[2020-08-23 06:21] #476 closed, assigned to nobody

[2020-08-23 08:53] #472 closed, assigned to nobody

[2020-08-23 13:38] PureConsulting opened #477 "Cannot convert lambda expression to type 'string' because it is not a delegate type after reverse engineering"
Reverse engineering a SQL Server 2017 database model that contains tables with non-clustered indexes results in a non-buildable project with the following errors:

Error | CS1660 | Cannot convert lambda expression to type 'string' because it is not a delegate type | BlazorTest | C:\Users\[redacted]\source\repos\BlazorTest\BlazorTest\Models\MyDBContext.cs | 470 | Active

                entity.HasI

[2020-08-23 15:25] #477 closed, assigned to nobody

[2020-08-24 08:21] ErikEJ commented on #476
@ProH4Ck FYI!

[2020-08-24 11:07] ErikEJ commented on #437
SELECT SCHEMA_NAME(schema_id), name, m.object_id
FROM sys.sql_modules AS m
JOIN sys.objects AS o ON m.object_id = o.object_id
    AND type IN ('FN');
GO

SELECT * FROM sys.parameters
where object_id = 18099105

[2020-08-25 14:01] tjackadams opened #478 "Scaffolding throws exception when stored procedure has table type parameter"
When a stored procedure has a parameter of a user defined table type, the scaffold fails.

[code]

If this is already being tracked elsewhere then apologies, but I couldn't find anything in this or the ef core repository in relation to this. I have created a simple demo project to reproduce this issue.

### Steps to reproduce

Reproduction: https://github.com/tjackadams/StoredProcScaffold

1. Publ

[2020-08-25 14:06] CShark opened #479 "Multiline comments not working"
Multiline comments on an sql column are not properly prefixed with '///' when reverse engineering. Only the first comment line is prefixed, while the rest is not.

### Steps to reproduce
Reverse Enginer a Table where the column in question has an extended property of type "MS_Description" containing an entry with multiple newlines. The Result will look something like

    ///<summary>
    /// Firs

[2020-08-25 14:10] ErikEJ commented on #479
Have you tried the latest daily build?

[2020-08-25 14:13] CShark commented on #479
Nope did not, but its fixed in the daily build.

[2020-08-25 14:13] #479 closed

[2020-08-25 14:32] ErikEJ commented on #478
It is not tracked elsewhere, and thanks for the repro and stack trace.

[2020-08-25 15:48] ErikEJ commented on #478
I have attempted a fix for this in the latest daily build, please let me know if it works for you.

[2020-08-25 16:59] knot22 opened #480 "error when attempt to reverse engineer"
### Description of what is not working as expected
The following error is displayed in the Output window of Visual Studio when an attempt is made to run Reverse Engineer on a project.  The strange thing is, it used to work fine on this machine.  I haven't had to Reverse Engineer anything for approximately a month and now this error is occurring.

[code]
I looked for `C:\projects` on my machine but

[2020-08-25 17:05] ErikEJ commented on #480
Do you have the .NET Core 3.1 x64 runtime/SDK installed?

[2020-08-25 17:06] ErikEJ commented on #480
Can you launch efreveng.exe for the %temp%\efreveng folder?

[2020-08-25 17:36] knot22 commented on #480
`dotnet --info` gave the following output:
[code]
There is no folder called `efreveng` in C:\Users\knot22\AppData\Local\Temp.

[2020-08-25 17:38] ErikEJ commented on #480
You need to install .NET Core 3.1 x64, look at the wiki for a link.

[2020-08-25 17:49] knot22 commented on #480
Installing .NET Core 3.1 x 64 corrected the issue.  Thank-you for the solution and for your speedy responses.

[2020-08-25 17:49] #480 closed

[2020-08-25 18:50] smarteez17 opened #481 "Split Items in Folders"
Hi how can I split so that all the configuration files goes into the configuration  folder and DBContext file goes into the Context folder

[2020-08-25 18:54] ErikEJ commented on #481
Duplicate of #423 ?

[2020-08-25 18:59] smarteez17 commented on #481
@ErikEJ

![image](https://user-images.githubusercontent.com/35128168/91216082-abbf6c80-e715-11ea-85da-31d29cefde4c.png)

The context didnt add to the correct folder it added to config  but the namespace is correct

![image](https://user-images.githubusercontent.com/35128168/91216211-ddd0ce80-e715-11ea-8fbd-1d92fe44713e.png)

[2020-08-25 19:04] ErikEJ commented on #481
I am having trouble following, suggest you read the wiki post to understand the folder / namespace options.

[2020-08-25 19:06] ErikEJ commented on #481
It would be useful if you posted/sharef an example of what you would like to achieve.

[2020-08-25 21:02] smarteez17 commented on #481
@ErikEJ

I created a class Library and added 3 folders namely config , context and models . I would like all the models files to be places in the model folder , config files in the config folder and the context file in the context folder

I used the tool as per the image above adding and ticking all the options I want.

The output is that  all models files to be places in the model folder and all

[2020-08-25 21:10] oliveira-marcello opened #482 "Double quotes from query filter not escaped in dgml"
When I tried to open a generated model diagram, I got this error:

This was caused by a query filter not being escaped in the xml:

`
<Node ... Annotations="ConstructorBinding: Microsoft.EntityFrameworkCore.Metadata.ConstructorBinding
QueryFilter: Param_0 => (Property(Param_0, "DateDeleted") == null)
Relational:TableName: BoxRegistrations" ...>
`

When I replaced `Param_0, "DateDeleted"` by `Param

[2020-08-26 04:37] ErikEJ commented on #481
Currently the config files are always placed together with the DbContext file. Duplicate of #423

[2020-08-26 04:37] #481 closed

[2020-08-26 08:31] micdenny opened #483 "Consider adding AsNoTracking() to StoredProcedures call"
https://github.com/ErikEJ/EFCorePowerTools/blob/26f1cbc99c457f82b38ce1f91d6e201e98562f7e/src/GUI/RevEng.Core/DbContextExtensions#L14

consider to add an `AsNoTracking()` before the `ToArrayAsync()` as the [ef core docs states that](https://docs.microsoft.com/en-us/ef/core/querying/raw-sql#change-tracking):

This can improve query with a lot of data, avoid to consume too much memory and cpu to mana

[2020-08-26 08:37] ErikEJ commented on #483
It is not required: https://docs.microsoft.com/en-us/ef/core/querying/tracking

[2020-08-26 08:52] micdenny commented on #483
ok it's clarified by this note:

thank you

[2020-08-26 08:52] #483 closed

[2020-08-26 09:34] tjackadams commented on #478
Thanks for the quick reply on this one @ErikEJ

The stored procedures scaffold ok now, but when you execute the stored procedure an exception is thrown.

[code]

The issue seems to be the TypeName of the TVP is missing when generating the SqlParameter

[code]

I have opened a PR https://github.com/ErikEJ/EFCorePowerTools/pull/485 to attempt a fix.

[2020-08-26 09:51] ErikEJ commented on #478
@tjackadams
 Excellent, if you run BuildCmdlineTool.cmd in the efreveng folder in the solution, you should be able to verify the fix - or have you already verified by doing manual changes?

[2020-08-26 10:16] tjackadams commented on #478
@ErikEJ

I initially verified by manual changes, but I've just done the BuildCmdlineTool.cmd and copied the .zip files over to my extension directory and it seems to be working ok. You'll see in the PR that I didn't quote the TypeName, but I've pushed a fix for that now.

[2020-08-26 12:17] ErikEJ commented on #478
Fixed in latest daily build, thanks for the PR!

[2020-08-26 12:17] #478 closed

[2020-08-26 13:34] ErikEJ commented on #482
Please share more of your broken XML file, thanks.

[2020-08-26 13:39] ErikEJ commented on #482
I have attempted a fix in the latest daily build.

[2020-08-26 14:14] oliveira-marcello commented on #482
Thanks @ErikEJ! It's fixed in the latest build.

Here is the broken xml (generated before the fix) with more details:
[dgml.zip](https://github.com/ErikEJ/EFCorePowerTools/files/5130317/dgml.zip)

[2020-08-26 14:43] #482 closed

[2020-08-27 09:41] chris5287 opened #486 "Put schemas into separate folders"
Is it possible to reverse engineer a database with each schema being put into its own sub-folder/sub-namespace using the schema name by default?

[2020-08-27 09:50] ErikEJ commented on #486
No, not currently, duplicate of #158

[2020-08-27 09:51] #486 closed

[2020-09-01 06:19] kennfarbe opened #487 "Comment problem on column description with new line"
We used new lines in the column descriptions in the SQL server. Unfortunately, these are not interpreted correctly by EF Power Tools.

### Steps to reproduce
Example column description:
[code]

Output:
[code]

### Further technical details
EF Core Power Tools version: 2.4.157.0

Database engine: MS SQL 2017 14.0.3192.2

Visual Studio version: Visual Studio 2019 16.7.2

[2020-09-01 07:43] ErikEJ commented on #487
Have you tried the latest daily build.

[2020-09-01 09:05] kennfarbe commented on #487
Many thanks. With the version 2.4.180.0 works it!

[2020-09-01 09:05] #487 closed

[2020-09-01 09:06] ErikEJ commented on #487
You are welcome, will update the official release version soon.

[2020-09-01 11:25] GeorgyRezchikov opened #488 "Enhance scaffolding to prepend schema names to entity classes"
In the EF repository(https://github.com/dotnet/efcore), the question was raised about the presence in the database of two tables with the same names but in different schemas.

https://github.com/dotnet/efcore/issues/3988
https://github.com/dotnet/efcore/issues/12432

Is it possible to solve this problem with your tool?

EF Core Power Tools version: 2.4.157
Database engine: SQL Server
Visual Studio

[2020-09-01 12:07] ErikEJ commented on #488
I believe you may be able to solve this with the renaming feature - if you can share a simple repro (DDL scripts), I can have a look.

[2020-09-01 12:48] GeorgyRezchikov commented on #488
`USE [master]
GO

CREATE DATABASE [TestDb]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'TestDb', FILENAME = N'E:\DATA\SQL\IPS2016\TestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'TestDb_log', FILENAME = N'F:\LOG\SQL\IPS2016\TestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

ALTER DATABASE [TestDb] SET COMPATIBILITY_LEVEL = 130

[2020-09-01 13:21] ErikEJ commented on #488
OK, I get this without doing anything custom:

     public partial class NorthwindContext : DbContext
     {
        public virtual DbSet<Attribute> Attributes { get; set; }
        public virtual DbSet<Attribute1> Attributes1 { get; set; }
        public virtual DbSet<Log> Logs { get; set; }

What is your desired outcome?

[2020-09-02 07:39] GeorgyRezchikov commented on #488
Like this:

[code]
OR

[code]

i.e. prepend schema names to entity classes

for the `dbo` schema, you can leave only the table name, if possible

[2020-09-02 08:39] ErikEJ commented on #488
[code]

efpt.renaming.json:

[code]

[2020-09-02 08:45] GeorgyRezchikov commented on #488
But can this be applied to all cases (tables)? And not specifically for two tables? That is, for all tables prepend schema name.

[2020-09-02 08:47] ErikEJ commented on #488
Yes, if you add it to the file (you could create a small tool to build the json file, see the wiki for a sample tool)

[2020-09-02 08:47] #488 closed

[2020-09-02 08:50] GeorgyRezchikov commented on #488
Thank you!

[2020-09-02 14:59] lesowin370 opened #489 "Enumerate references to *.dacpac files in solution (or browse any .dacpac file)"
I have a nuget package that contains *.dacpac file. It's added to the solution as a link, so the file remains in nuget cache folder physically.
![image](https://user-images.githubusercontent.com/69253471/91999652-4c7ce000-ed45-11ea-8d9a-d469923c853a.png)

Is it possible to enumerate all such referenced files and show them in this window?
![image](https://user-images.githubusercontent.com/69253471/

[2020-09-02 16:03] ErikEJ opened #490 "Revert to using System.Data.SqlClient for getting list of tables/views"

[2020-09-02 18:49] #490 closed

[2020-09-03 06:32] ErikEJ commented on #489
If the file is included as Content, and you have "Copy Always", then it should be discoverable.

Suggest you share your .csproj file.

[2020-09-03 12:55] lesowin370 commented on #489
It becomes available right after the build, which may be quite not convenient because you have to remember to build the project first.
Also it pollutes output folder and I have to clean it manually if I don't want to expose database structure to the user.
csproj file contains nothing except for reference to Test.Database package. Physically the file is in C:\Users\<username>\.nuget\packages\test.d

[2020-09-03 13:29] ErikEJ commented on #489
Unsure, but I need a PR or a full repro in order to assist (including a sample NuGet package)

[2020-09-03 14:31] lesowin370 commented on #489
1. Unpack *.nupkg file in any folder and specify the folder in Tools -> Options -> NuGet Package Manager -> Package Sources of Visual Studio
2. Open the Application/Application.sln in Visual Studio 2019
3. Run EF Core Power Tools and try to find TestDb.dacpac

AR: although the solution shows it's linked from the unpacked Nuget package, EF Core Power Tools doesn't show anything in dropdown

[Projec

[2020-09-04 03:01] BlueSky16st opened #491 "Cannot add datasource with PostgreSQL"
### Steps to reproduce

ODBC driver psqlodbc_09_02_0100.zip installed

'Reverse Engineer' - In 'Choose Database Connection' window - 'Add' - 'Change' - Select 'Microsoft ODBC Data Source'

Enter connection string:
Driver={PostgreSQL UNICODE};server=39.xx.xx.xx;port=5432;database=xxx;uid=xxx;pwd=xxxx

and 'Test Connection', it work
and then click 'OK'
But.. nothing change.. it still empty list

###

[2020-09-04 05:04] ErikEJ commented on #491
You must install the Postgres Visual Studio Tools, as stated in the [docs](https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#reverse-engineer---workflow)

[2020-09-04 05:04] #491 closed

[2020-09-04 05:30] ErikEJ commented on #489
You can do this:

[code]

[2020-09-05 12:56] ErikEJ commented on #489
Alternatively, I could allow you to browse for any .dacpac file on your disk.

[2020-09-05 14:33] #489 closed

[2020-09-05 14:34] ErikEJ commented on #489
The latest daily build allows you to pick any .dacpac file from anywhere

[2020-09-07 11:52] ErikEJ commented on #447
@ProH4Ck Interested?

[2020-09-07 11:56] ProH4Ck commented on #447
Yes. I can do it... It's only a new dialog to group all the "extra" options located on the main screen.

[2020-09-07 11:58] ErikEJ commented on #447
@ProH4Ck No, only remove two checkbox options from main screen, and add 3 additional options, that do not have any UI currently - see the issue description above.

[2020-09-07 13:23] ProH4Ck commented on #447
Ok understood! I'll do it in next couple of days. I'll make a PR when ready.

[2020-09-07 13:24] ErikEJ commented on #447
Fantastic, thanks so much!

[2020-09-08 15:17] karenpayneoregon opened #494 "Reverse engineering failure"
The following seems to happen before but unsure what the resolution was. Below was first done with a .NET Core 2.2 class project then as per below a conventional class project.

Also have tried this in two different VS solutions.

### Steps to reproduce
Create a class project targeting Framework 4.72, add Entity Framework Core 3.1.8, right click on project in Solution Explorer, build project then

[2020-09-08 15:24] ErikEJ commented on #494
I am not able to repro, try to remove the database connection (via Server Explorer) and re-create.

[2020-09-08 15:28] karenpayneoregon commented on #494
I deleted the connection, recreated and attempted a reverse engineer, same issue.

[2020-09-08 15:36] karenpayneoregon commented on #494
Also, just tried five different databases, all fail to reverse engineer

[2020-09-08 15:39] ErikEJ commented on #494
I am unable to repro using VS 2017 15.9.26 with a .NET 4.7.2 class lib - maybe try upgrading your VS 2017 instance?

[2020-09-08 15:39] ErikEJ commented on #494
And restart VS?

[2020-09-08 15:40] karenpayneoregon commented on #494
Upgrading now

[2020-09-08 16:25] karenpayneoregon commented on #494
Still upgrading, we have a major storm which may be affecting my download speed. In the mean time I tried the same operation on another machine and got

System.Exception: Reverse engineer error: Unable to launch 'dotnet' version 3 or newer. Do you have it installed?
   at ReverseEngineer20.ReverseEngineer.EfRevEngLauncher.GetOutput()
   at ReverseEngineer20.EfCoreReverseEngineer.LaunchExternalRunn

[2020-09-08 16:27] ErikEJ commented on #494
Well, as documented here, you must have .NET Core 3.1 x64 runtime installed: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering

[2020-09-08 16:33] karenpayneoregon commented on #494
Okay Visual Studio has been upgraded as per the initial issue, this resolved things, now able to reverse engineer. Will install .NET Core on the other machine which is not part of this issue, thanks :-)

[2020-09-08 16:36] #494 closed

[2020-09-09 13:15] MenaceSan commented on #450
just create a blank file named DbOnConfiguring.hbs in your CodeTemplates\CSharpDbContext\Partials folder and the error will go away. Its a new option that got added . but unfortunately they didnt make it optional.

[2020-09-09 13:22] EvgenyBelokurov opened #497 "Enhance sprc scaffolding to prepend schema names to methods and result classes if there are duplicates"
In the EF repository(https://github.com/dotnet/efcore), the question was raised about the presence in the database of two tables with the same names but in different schemas.

dotnet/efcore#3988
dotnet/efcore#12432
https://github.com/ErikEJ/EFCorePowerTools/issues/488

The problem was solved by creating efpt.renaming.json.

I have a question about the existence of two stored procedures in a databa

[2020-09-09 13:25] ErikEJ commented on #497
What have you tried?

Are you facing a concrete issue?

[2020-09-09 13:43] EvgenyBelokurov commented on #497
I want to add stored procedures from an existing database using your tool.  They have the same names but different schemas. I select the "Generate stored procedure mapping (preview)" item.

I would like the schema names to be appended to the name of the stored procedures. How can I solve this?

[2020-09-09 13:55] EvgenyBelokurov commented on #497
I have identically named stored procedure names in a table that are in different schemas:

schema1.Get_Attribute
schema2.Get_Attribute

By generating them I get EntityContextProcedures:

        public async Task<int> Get_Attribute(Guid? ID)
        {
          // ...

            return await _context.Database.ExecuteSqlRawAsync("EXEC [schema1].[Get_Attribute] @ID  ",parameterID);
        }

[2020-09-09 14:06] ErikEJ commented on #497
Which does not compile - I get it.

[2020-09-09 14:07] ErikEJ commented on #497
It's a bug, and I will look into a fix

[2020-09-09 17:38] ErikEJ opened #498 "Scaffold timeout with large SQL Server db with many indexes"

[2020-09-09 17:42] ErikEJ commented on #498
@lynxwall @svengeance  I am not sure what is going on.

Please check the %localappdata%\Microsoft\VisualStudio folder for duplicate extensions

Nuke the %temp%\efreveng folder

Could you share your efpt.config.json file (maybe privately to ejlskov at hotmail dot com )

[2020-09-09 18:12] LynxWall commented on #498
Checked for duplicate extensions and didn't see any. I also deleted the %temp%\efreveng. Still seeing same timeout error.
Will send config.json via hotmail ... Thanks!

[2020-09-09 18:15] ErikEJ commented on #498
I was finally able to repro, see last commit - it was error 40!

[2020-09-09 18:49] svengeance commented on #498
@ErikEJ Unfortunately it seems that it is now coercing me to use a .dacpac now. If I check "Use EF 5.0 Preview", it gives me the regular timoue

![image](https://user-images.githubusercontent.com/6847381/92640616-8dc44100-f2ab-11ea-90c4-6ca33b3aa72f.png)

[code]

[2020-09-09 18:51] svengeance commented on #498
@ErikEJ Unfortunately it seems that it is now coercing me to use a .dacpac. If I check "Use EF 5.0 Preview", it gives me the regular timout

![image](https://user-images.githubusercontent.com/6847381/92640616-8dc44100-f2ab-11ea-90c4-6ca33b3aa72f.png)

[code]

[code]

[2020-09-09 18:53] ErikEJ commented on #498
OMG!

[2020-09-09 18:53] ErikEJ commented on #498
https://github.com/ErikEJ/EFCorePowerTools/commit/9dec5223b1f1012673b009c13b7ebf639c9c5524#diff-cd9c3790e10f188151d4478cdb7e46acR85 !?

[2020-09-09 18:57] svengeance commented on #498
I would like to subscribe to your hourly build feed. 😄

[2020-09-09 18:57] #498 closed

[2020-09-09 19:09] svengeance commented on #498
Oh how I've missed you.. _note how thin that scrollbar is_

Massive success, and much faster than before when it worked as well. Thank you so much for working through this, I hope it can get into EF soon as well.

![image](https://user-images.githubusercontent.com/6847381/92642499-48edd980-f2ae-11ea-933e-598e4a8cdaed.png)

[2020-09-09 19:11] svengeance commented on #498
Also - hopefully as a testament to the query as identical, the diff with the new scaffold reveals that the only changes are that sequences have been generated, and so have some table comments -- neither of which, I think, relate to indexes.

[2020-09-09 19:15] ErikEJ commented on #498
@smitpatel FYI, EF Core Power Tools daily build now uses the updated GetIndexes query.

[2020-09-09 19:19] ErikEJ commented on #498
@svengeance Yes, I think your PR should be included in EF Core 6 (if not 5.0.1)

[2020-09-09 19:21] ErikEJ commented on #497
As a workaround, you can just rename manually

[2020-09-09 19:51] EvgenyBelokurov commented on #497
Thanks for your reply! You may be right, but when I update the database, don't I get the same names again?

[2020-09-09 19:56] LynxWall commented on #498
I can confirm that build 197 is working for me as well ... it's taking about 20 seconds to load the database I'm testing against... but definitely much faster and I'm able to reverse engineer tables.

Thanks!

[2020-09-10 06:16] ErikEJ commented on #497
Correct, until someone fixes the bug, yes

[2020-09-10 06:21] EvgenyBelokurov commented on #497
Thank you very much for your response! Hopefully the bug will be fixed quickly.

[2020-09-10 06:24] ErikEJ commented on #497
Who knows? Maybe someone will create a pull request with a fix?

[2020-09-10 06:28] EvgenyBelokurov commented on #497
I have a large number of such stored procedures in my database. Changing manually will take a very long time. :-)
Can this topic be closed?

I wish you success!

[2020-09-10 06:32] ErikEJ commented on #497
No, it should be left open until the bug has ben fixed.

[2020-09-10 16:28] picozzo92 opened #500 "Could not load file or assembly 'MySql.Data, Version=8.0.18.0, Culture=neutral"
Hello,

after your latest updates I have problems when I am a Reverse Engineer.

In detail, the following error is returned despite the fact that I have the nuget package in the project dependencies: Could not load file or assembly 'MySql.Data, Version = 8.0.18.0, Culture = neutral

[2020-09-10 17:55] ErikEJ commented on #500
Reverse engineer does not use any of your project references. Do you have the MySqL VS Tools installed? Are you trying EF Core 5 reverse  engineering?

[2020-09-11 05:33] #497 closed

[2020-09-11 07:15] picozzo92 commented on #500
I do not understand why until a few days ago everything worked properly, and now without any modification on the reference of my project does not work!

[2020-09-11 07:57] picozzo92 commented on #500
MySqL VS Tools is installed on my machine. Is it possible to have a version of the vsix from a few weeks ago?

[2020-09-11 08:41] ErikEJ commented on #500
Please provide more context on when you get the error, and the full stack trace/error message. Reverse engineering does not use the MySQL provider, it uses the Pomelo provider.

[2020-09-11 08:47] picozzo92 commented on #500
I found what the error was, uninstalling and reinstalling MySqL VS Tools I was able to do the reverse Reverse engineer.
Sorry for wasting your time!

[2020-09-11 08:48] #500 closed

[2020-09-12 05:22] ErikEJ commented on #225
Latest daily build now contains the 3.1 RTM provider

[2020-09-12 05:22] #225 closed

[2020-09-12 11:31] ErikEJ opened #501 "Reverse engineer many to many navigations with EF Core 6"
see https://github.com/dotnet/efcore/issues/22475

[2020-09-13 17:16] alexkyse1 opened #502 "Unique identifier default value field not being applied."
Since latest extension update the reverse engineering does not preserve/add up the default unique identifier sql value from the fields, this implies empty guids at database.

### Steps to reproduce
Create the following table.

[code]

Reverse engineer it, try to persist a fresh created object from c# layer without assigning any value to identifier field. It will get persisted as empty guid.

The c

[2020-09-13 19:02] ErikEJ commented on #502
Was is the left and what is the right screen??

[2020-09-13 19:06] alexkyse1 commented on #502
Sorry, I should have specified it previously. Basically the overview is from a commit before and after the reverse engineering since the extension version update without changing the configuration of these columns at database.

At the left you can see the context with the previous default sql values binded at the unique identifier field.
At the right you can see the context without these values, r

[2020-09-13 19:11] ErikEJ commented on #502
Ok, I will try to replicate, wonder why no-one else has reported this. Are you 100% sure the defaults are present in the database you reverse engineer?

[2020-09-13 19:13] alexkyse1 commented on #502
Cool!

Cool, thanks!

I guess there was not enough time to catch it up?

Yes, I'm 100% sure, I did not apply any changes at database for these fields. Hopefully you can reproduce it with the provided information.

[2020-09-13 19:26] ErikEJ commented on #502
Unable to reproduce...

[code]

[2020-09-14 08:49] #447 closed

[2020-09-14 09:36] yyjdelete opened #504 "Unhandled ArgumentException in FilePathToDisplayNameConverter when click cancel when select .dacpac file"
Describe what is not working as expected.
Crashes with unhandled ArgumentException in FilePathToDisplayNameConverter

### Steps to reproduce
Include a complete description that I can redo to reproduce the issue.
1. Click `EF Core Power Tools/Reverse Engineer`;
2. Click `Choose SQL Server Database project (.dacpac) Add...`;
3. Click cancel directly;

https://github.com/ErikEJ/EFCorePowerTools/blob/

[2020-09-14 12:30] ErikEJ commented on #504
Fixed in latest daily build

[2020-09-14 12:30] #504 closed

[2020-09-14 15:23] DevCisse opened #505 "Inverse Property not created for a AspNetUsers.Id column"
I created a new table Say Students with Id and Name etc. I then made it PK and FK to AspNetUsers.Id column when I did reverse engineering, inverse property was not created for the Id

[2020-09-14 15:26] ErikEJ commented on #505
Please provide proper details about your issue, thanks.

[2020-09-14 18:24] DevCisse commented on #505
I have done that.

[2020-09-14 18:35] ErikEJ commented on #505
Ok, please provide SQL Scripts to create the involved changes, and a sample of the generated code and pint out the missing navigation.

[2020-09-14 19:33] DevCisse commented on #505
It is generating the inverse property now. While selecting tables, I just selected the tables I created myself since I can use `UserManager<T>` and `RoleMananger<T>` for the Identity. So, I didn't select them. But when I selected all tables it got generated. Thanks.

[2020-09-14 19:41] #505 closed

[2020-09-15 10:15] ErikEJ commented on #502
As I am unable to reproduce based on the provided script, I am closing this. Feel free to re-open if additional info appears.

[2020-09-15 10:15] #502 closed

[2020-09-16 07:37] dkovacs81 opened #506 "Issue with scaffolding - included index properties are not generated correctly"
This issue appeared in the last release v2.4.182, in the previous version it was not present.
The problem is that from this release when generating context from dacpac the tool also generates
.IncludeProperties(new[] { "[database_column_name]" } statements, although the correct one would be .IncludeProperties(new[] { "EntityPropertyName" }. Obviously this causes problem only in case the database c

[2020-09-16 09:24] #506 closed

[2020-09-17 09:45] axeh opened #507 "The annotation 'SqlServer:Include' cannot be added because an annotation with the same name already exists."
Can`t reverse engineer. With the previous version, I was able to do it.

### Steps to reproduce
Try to reverse engineer

### Further technical details
EF Core Power Tools version: 2.4.182

Database engine: (Sql server)
Visual Studio version: (Visual Studio 2019)

Stack trace:
System.Exception: Reverse engineer error:
System.InvalidOperationException: The annotation 'SqlServer:Include' cannot be ad

[2020-09-17 10:01] ErikEJ commented on #507
Are you running from a dacpac?

[2020-09-17 10:03] axeh commented on #507
Yes.

[2020-09-17 10:04] ErikEJ commented on #507
Try the latest daily build!

[2020-09-17 17:21] ErikEJ commented on #507
Did you try the daily build?

[2020-09-17 18:35] julielerman opened #508 "Multi Targetting Seems to have stopped working as workaround"
I have many times successfully created a DGML with a non-executable project by multi-targeting the project. For example, I would change a project that was originally targetting .NETStandard2.0 to:

`<TargetFrameworks>netcoreapp3.0;netstandard2.0</TargetFrameworks>`

Now (possibly result of a VS2019 update???) creating the DGML fails with a message that Microsoft.EntityFrameworkCore.dll cannot be f

[2020-09-17 18:47] ErikEJ commented on #508
Please share a repro project.

[2020-09-17 18:56] julielerman commented on #508
The link to the repro is in the issue. :)

[2020-09-17 18:58] julielerman commented on #508
One more note for now:
if I truly turn the class library project into an exe:

[code]
and add a program.cs file, then all of the gazillion dlls DO get pulled into that projects bin/debug folder.

[2020-09-17 19:17] julielerman commented on #508
updated VS2019 to 16.7.3. No difference.
Ran as admin. No difference.
I fear this might be a change in VS.

[2020-09-17 19:19] ErikEJ commented on #508
It is a bug, I broke it on June 25: https://github.com/ErikEJ/EFCorePowerTools/pull/414/files#diff-70ae16c326d365ebb8e1c19ef02113d0 (Line 247)

[2020-09-17 19:25] julielerman commented on #508
OOOHHHH!!!! Sorry its a bug but hooray! Now I know why people keep having this problem. An easy fix??

[2020-09-17 19:26] ErikEJ commented on #508
Will let you know tomorrow if it is an easy fix - one possibility is to disable support for EF Core 5 for now.

[2020-09-17 19:31] julielerman commented on #508
I will be crossing my fingers. I don't want to make  your life harder.

[2020-09-17 20:07] johnhenley opened #509 "Reverse Engineer no longer working after update to EF_Core_Power_Tools_v2.4.212"
Click on reverse engineer and get error in output window:

System.NotImplementedException: Not implemented (Exception from HRESULT: 0x80004001 (E_NOTIMPL))
   at EnvDTE.Project.get_FullName()
   at EFCorePowerTools.Extensions.EnvDTEExtensions.<>c__DisplayClass0_0.<GetDacpacFilesInActiveSolution>b__2(Project p) in C:\projects\efcorepowertools\src\GUI\EFCorePowerTools\Extensions\EnvDTEExtensions.cs:

[2020-09-17 20:42] johnhenley commented on #509
also get this error in a different solution

System.NullReferenceException: Object reference not set to an instance of an object.
   at EFCorePowerTools.Extensions.EnvDTEExtensions.LinkedFilesSearch(ProjectItems projectItems, HashSet`1 files) in C:\projects\efcorepowertools\src\GUI\EFCorePowerTools\Extensions\EnvDTEExtensions.cs:line 79
   at EFCorePowerTools.Extensions.EnvDTEExtensions.GetDacpacF

[2020-09-18 05:23] ErikEJ commented on #507
Fixed in latest release, please re-open if you still encounter issues

[2020-09-18 05:26] #508 closed

[2020-09-18 05:26] #509 closed

[2020-09-18 11:12] jamshally commented on #211
+1 for this feature request. @ErikEJ - from your understanding, is this still not technically possible? It's been a year now, so I figured it was worth asking - even if a long shot. I'd be happy to have a go at contributing an update if there was a workable solution - would just need a few pointers to get going.

Thanks for this great tool. It is immensely helpful.

[2020-09-18 11:53] crnastena commented on #507
Hi, I am getting the same exact error today, with version 2.4.213 (Date Installed: 9/18/2020).

[code]

I am using Manage Extensions in VS 2019 and extension is automatically updating.

[2020-09-18 12:00] ErikEJ commented on #507
@crnastena Are you using EF Core 3 or EF Core 5 reverse engineering?

[2020-09-18 12:04] crnastena commented on #507
EF Core 3. These are the options.

![efcoretools-bug-2](https://user-images.githubusercontent.com/1594571/93595305-69edb300-f9af-11ea-9a0a-0d442f2a249b.png)
![efcoretools-bug-1](https://user-images.githubusercontent.com/1594571/93595307-6a864980-f9af-11ea-8ad1-bfe1f6cc01e1.png)

[2020-09-18 12:05] #507 closed

[2020-09-18 12:05] crnastena commented on #507
Nothing is selected in Advanced options.

[2020-09-18 12:06] ErikEJ commented on #507
@crnastena  Fixed in latest daily, would be very grateful if you could verify, then I will push a new release to VS MarketPlace.

[2020-09-18 12:12] crnastena commented on #507
It still fails. How can I help?

![efcoretools-bug-3](https://user-images.githubusercontent.com/1594571/93596008-9eae3a00-f9b0-11ea-8b25-767998b9bc6c.png)

[2020-09-18 12:12] ErikEJ commented on #211
@jamshally  Let's have a look - please explain (with some sample code) what you see now, and what you would like to see instead.

[2020-09-18 12:14] ErikEJ commented on #507
Sorry, I forgot to update the tool runner.. Next build after .214....

[2020-09-18 12:19] crnastena commented on #507
I am sorry I did not understand that last comment, should I wait for .215?

[2020-09-18 12:20] ErikEJ commented on #507
Yes, and .215 is there now.

[2020-09-18 12:21] Fichti1982 opened #510 "ReverseEngineering - Timeout on TableListBuilder for large DBs"
Currently i got a timeout exception (after 30 seconds) when trying to retrieve the tables list for reverse-engineering.
Running on SQLExpress on localhost - approx. 550 tables...

Is there a way to increase the timeout? I tested on another database with ~20 tables -> this works fine...

Here is the call-stack of the exception:

System.Exception: Table list error:
Microsoft.Data.SqlClient.SqlExcept

[2020-09-18 12:21] ErikEJ commented on #507
Sorry, it is not, build issue.

[2020-09-18 12:22] crnastena commented on #507
No worries.

[2020-09-18 12:24] ErikEJ commented on #510
There is no way to set the timeout currently.

Try updating statistics https://github.com/dotnet/efcore/issues/22287#issuecomment-682422195

[2020-09-18 12:25] ErikEJ commented on #510
Or temporarly set the compat level below 120

[2020-09-18 12:25] ErikEJ commented on #507
Build .216 is there now

[2020-09-18 12:27] crnastena commented on #507
Getting there:

[code]

[2020-09-18 12:34] ErikEJ commented on #507
Ah - there has been changes to the query to get the indexes.

Can you share your schema and I will have a look. You can email me privately at ejlskov at hotmail dot com

[2020-09-18 13:24] ErikEJ commented on #507
Fixed the bug now, new build available (.217)

[2020-09-18 13:32] crnastena commented on #507
Yes, I can confirm and .217 worked.

Thanks for all the help with it.

[2020-09-18 13:40] ErikEJ commented on #507
Thanks for the heads up, I will publish an updated build to Marketplace with the fix.

[2020-09-18 15:03] julielerman commented on #451
Note for you Karl: the reason this particular problem was occurring was because of a bug that was accidentally introduced in early August. It's been fixed with the Sept 18 update of the extension.

[2020-09-18 15:38] ErikEJ commented on #460
Fixed (with multitargeting) in latest build

[2020-09-18 15:38] #460 closed

[2020-09-18 21:43] jamshally commented on #211
@ErikEJ - OK, here is my scenario:

I have a table with a two column foreign key. The Auto-name-generation of Navigation Property seems to look for common characters between the foreign key fields, sometimes resulting in unsuitable field names. I am looking for a way to rename these Navigation properties during a reverse-engineering code-generation cycle. Example code below:

### Tables
![image](h

[2020-09-19 05:25] ErikEJ commented on #211
What custom name?

[2020-09-19 07:52] jamshally commented on #211
@ErikEJ - I have several similar scenarios in a database I am working with. In this instance I'd like to name the Navigation Property "Product"

[2020-09-19 09:10] ErikEJ commented on #510
Ping?

[2020-09-19 09:42] Fichti1982 commented on #510
Thanks for your quick feedback. I tried setting down the compat level as well as updating the stats with no success.
Still timeouts after 30 sec...On monday i'll try the same on another environment, another instance of the database...

[2020-09-19 09:48] Fichti1982 commented on #510
After running "dbcc freeproccache" it works fine for me! Thanks!

[2020-09-19 09:48] #510 closed

[2020-09-19 09:50] ErikEJ commented on #510
Interesting, so a bad plan was stuck in the cache ..

[2020-09-20 15:42] ErikEJ commented on #211
@jamshally  Have you tried the renaming feature  ?- with this efpt.renaming.json file, for example:

[
  {
    "UseSchemaName": false,
    "SchemaName": "dbo",
    "Tables": [
      {
        "Name": "ProductMetaData",
        "Columns": [
          {
            "Name": "FactoryId",
            "NewName": "ProductId"
          }
        ]
      }
    ]
  }
]

[2020-09-22 05:17] jamshally commented on #211
Hi @ErikEJ , thanks for the suggestion.

This does result in the Navigation Property being generated with the name "Property", but then the name of the FactoryId is no longer correct/consistent with the business domain. The primary key of the Product _is the combination_ of the FactoryId and the FactoryProductIndex.

Basically, the naming of the primary key fields are as-intended, it is just the a

[2020-09-23 12:39] KayakFisher205 opened #511 "In the Context file, Getting message HasName is Obsolete, use HasDatabaseName() instead"
Describe what is not working as expected.

### Steps to reproduce
Using the 2.4.217.0 version to reverse engineer a SQL 2016 database, some tables that has the entity.HasIndex, flags the .HasName as Obsolete and to replace with HasDatabaseName
Warning	CS0618	'RelationalIndexBuilderExtensions.HasName<TEntity>(IndexBuilder<TEntity>, string)' is obsolete: 'Use HasDatabaseName() instead.

Replaceing t

[2020-09-23 12:42] ErikEJ commented on #511
Are you trying to use EF Core 2 scaffolding with EF Core 5?

[2020-09-23 13:43] KayakFisher205 commented on #511
lol, yes I am. I didn't think I had the 5.0 preview installed.

[2020-09-23 14:08] #511 closed

[2020-09-24 12:07] StefanFalz opened #512 "Reverse Engineering - [Key] attribute is not generated"
Prior versions of EFCore Power Tools generated a [Key] attribute for properties mapped to primary key columns in the table. The current version does not.

I use .NET Core 3.1 (SDK 3.1.402 is installed).

Please add the [Key] attribute again. Perhaps as an optional setting.

### Steps to reproduce
Create a Microsoft SQL Server database with a table "Test", add a column "ID" and mark this column as

[2020-09-24 12:21] ErikEJ commented on #512
Which EF Core version did you pick when reverse engineering?

Have you selected to use Data annotations?

[2020-09-24 12:28] ErikEJ commented on #512
If DataAnnotations have been selected, Key should always be generated:

https://github.com/dotnet/efcore/blob/main/test/EFCore.Design.Tests/Scaffolding/Internal/CSharpEntityTypeGeneratorTest.cs#L532

[2020-09-24 12:51] StefanFalz commented on #512
I didn't pick any specific EF Core version.

![grafik](https://user-images.githubusercontent.com/41260292/94147164-3d391000-fe75-11ea-95a8-7c1a110ce721.png)

The DataAnnotions option is selected.

![grafik](https://user-images.githubusercontent.com/41260292/94147083-1d095100-fe75-11ea-877c-b30575a9be3a.png)

[2020-09-24 13:03] StefanFalz opened #513 "Reverse Engineering - HasDefaultValueSql is not generated anymore"
Prior versions of EFCore Power Tools generated a call to HasDefaultValueSql("default value") properties with a configured default value in the database.

I use .NET Core 3.1 (SDK 3.1.402 is installed).

Please add the HasDefaultValueSql method again. Perhaps as an optional setting.

### Steps to reproduce
Create a Microsoft SQL Server database with a table "Test", add a column "DateCreated", edit

[2020-09-24 13:16] StefanFalz commented on #512
Shame on me :( I'm stupid and blind. Sorry :(

I mixed the diff views up. Left side old, right side new. Of course the current version creates [Key] attributes while the old versions does not.

All is fine and sorry again :(

[2020-09-24 13:16] #512 closed

[2020-09-24 13:25] KayakFisher205 opened #514 "[Feature] Reverse Engineering - Save all selections to a file"
On the 'Select Tables to Script' there is the ability to Load and Save Selections. It would be very helpful that the data on the screen 'Generate EF Core Model in Project XXXXXXX', along with the selections in the Advanced button, to be stored along with the tables. The program does remember the last settings and for one database connection that works, but we have multiple layers of tables, from P

[2020-09-24 15:00] Trigun27 commented on #158
It will be a cool feature!

[2020-09-24 15:46] ErikEJ commented on #158
@Trigun27 PRs accepted 😀

[2020-09-24 15:53] ErikEJ commented on #514
Not sure I understand your issue, edit.config.json already contains all relevant setting !?

[2020-09-25 17:16] ErikEJ commented on #514
Ping?

[2020-09-25 19:58] StefanFalz commented on #513
Your extension is really awesome and I use it for years now.

But in my case this is a serious bug because each of my 200+ tables contains at least one column with a default value in SQL Server. After updating the model and the context classes there is no way to create a new record unless I'll set the DateCreated property manually.

Please fix this bug.

[2020-09-25 20:08] ErikEJ commented on #513
Please provide a CREATE TABLE script, and I will have a look.

[2020-09-25 20:12] StefanFalz commented on #513
I'll try to create a repro project with a test table. I'll be back in a few minutes.

[2020-09-25 20:37] StefanFalz commented on #513
I think I've figured it out.

The SQL Server user used for reverse engineering is db_datareader and db_datawriter in this specific database. The reverse engineering doesn't create HasDefaultValueSql calls.

All other information (comments, indexes, keys, ...) are generated. Only the default values are missing.

I've created a test database and in this case the same user is db_owner. Now the revers

[2020-09-25 21:05] StefanFalz opened #515 "Reverse engineering - Different behaviour whether sql user is db_owner or not"
Reverse engineering with a SQL server user which is a db_owner produces code different from code generated with a non dbo user (i.e. db_datareader, db_datawriter) for not nullable bit columns with default values.

### Steps to reproduce
Create a SQL Server table with a not nullable bit column.

[code]
---

Perform a reverse engineering with a SQL Server which has the db_owner role.

You'll see the

[2020-09-26 05:08] ErikEJ commented on #513
It is not something I have come across before, only anecdotal.

Please provide a sample CREATE TABLE script, and I will try to replicate.

[2020-09-26 05:11] ErikEJ commented on #513
Closing in favor of #515

[2020-09-26 05:11] #513 closed

[2020-09-26 05:13] ErikEJ commented on #515
The bit column with a default behaviour is by design, see #373

[2020-09-26 05:55] StefanFalz commented on #515
Ok, I understand. It makes less sense for me but Ok.

But why the reverse engineering produces different results when processed by users with db_owner role (nullable bool with [Required] flag) and users with less access rights (bool, no flag)? Is it possible to always produce the same result?

(P.S.: Would you consider about a new feature/setting to let the user make the choice whether a nullable

[2020-09-26 06:01] ErikEJ commented on #515
I am investigating that part.

[2020-09-26 06:02] ErikEJ commented on #515
No, I follow/reuse the EF Core way of doing this.

[2020-09-26 06:19] ErikEJ commented on #515
I was able to replicate, this is by design: https://docs.microsoft.com/en-us/sql/relational-databases/security/metadata-visibility-configuration?view=sql-server-ver15#benefits-and-limits-of-metadata-visibility-configuration

You can allow the restricted user to view default definition with:

`GRANT VIEW DEFINITION to limited_user;`

@smitpatel @bricelam FYI!

[2020-09-26 06:19] #515 closed

[2020-09-26 06:25] StefanFalz commented on #515
Thank you very much. Really great support.

[2020-09-26 06:45] ErikEJ commented on #515
You are welcome, if you enjoy my free tools, I will be very happy with a review on VS Marketplace.

[2020-09-26 12:16] ErikEJ commented on #502
@alexkyse1 Maybe related to #515 ?

[2020-09-26 12:19] ErikEJ commented on #488
@GeorgyRezchikov latest daily also allows you to use regular expression for name replacements

[2020-09-27 06:52] ErikEJ opened #517 "[Feature] Enable support for multiple saved config files in same project"
1. Allow user to create initial efpt.config.json file, and rename to for example efpt.MyContext.config.json

2. Upon launch of reversen engineer, check if there are files following the efpt.xxx.config.json pattern (including the original "efpt.config.json".

3. If there are files other than efpt.config.json, display a dialog with a dropdown list of each found file name.

4. Use the selcted file fo

[2020-09-27 12:57] KayakFisher205 commented on #514
Sorry, I didn't see the email. It think Issue 517 would resolve my issue. I will close this one.

[2020-09-27 12:57] #514 closed

[2020-09-27 16:06] Marmotor opened #518 "[Feature] Add possibility to mention full namespace for entities location"
Hi!

I have the following scenario: Generating the table structure (Entities) in one project, and generating the DbContext and configuration files in another project. The result of this approach is that the context and configuration files need a reference to the namespace where the entity files are located.
I tried using the `EntityTypes sub-namespace` feature, but this just appends the input name

[2020-09-27 16:26] ErikEJ commented on #518
I think there are links to examples of doing this in the wiki ...

[2020-09-27 16:34] ErikEJ commented on #518
You should be able to do this in a single run...

[2020-09-27 16:51] Marmotor commented on #518
Thanks for the hint, I managed to partially solve the issue by using handlebars. At this point the namespace is hardcoded in the handlebar file, but it's indeed a step forward.

[2020-09-27 16:57] ErikEJ commented on #518
Handlebars should definitely not be required.

Did you look at the links in the wiki?

[2020-09-27 17:20] Marmotor commented on #518
That is where I came up with the idea to use the handlebars.
The second time I looked after you mentioned handlebars are not required, I noticed a link to this same issue someone else mentioned and that's where I found the following solution: Top namespace input should be the common namespace part for the two projects. Then specify in the `EntityTypes sub-namespace` input the rest of the namespace

[2020-09-27 18:53] ErikEJ commented on #518
So this can be closed now?

[2020-09-27 19:44] Marmotor commented on #518
Yes, I'll do it. If possible, maybe update the wiki with this info? It's taken me a bit of time to figure it out, so maybe adding it there might help others.
Thanks for your input and tips!

[2020-09-27 19:44] #518 closed

[2020-09-27 19:46] ErikEJ commented on #518
Would be great if you could provide more details with a sample perhaps?

[2020-09-28 11:52] #517 closed

[2020-09-28 11:53] ErikEJ commented on #517
@kayakfisher205 Fixed, please try the latest daily build

[2020-09-28 13:35] ErikEJ commented on #83
@theprateik @LouisGordon @aetos382 @blogcraft

The latest daily build allows you to use multiple efpt.config.json files in the same project - https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time

[2020-09-28 13:36] ErikEJ commented on #345
@guffy1234
The latest daily build allows you to use multiple efpt.config.json files in the same project - https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time

[2020-09-28 13:37] ErikEJ commented on #466
@karenpayneoregon

The latest daily build allows you to use multiple efpt.config.json files in the same project - https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time

[2020-09-28 17:06] KayakFisher205 commented on #517
I found you must have a efpt.config.json file, the copy it and create the efpt.xxxContext.json file. After that, I got the dropdown at the start of Reverse Engineer. Once I had everything set, it worked perfectly. My only request would be to save the Database Connection from the 'Choose Database Connection' popup, along with the Use EF Core 5 (preview). I don't use Filter Schemas, but saving that

[2020-09-28 17:29] ErikEJ commented on #517
Saving database connection is not something I plan to do, as it could expose sensitive information.

I will consider the other options based on feedback.

[2020-09-29 06:05] ErikEJ commented on #517
@KayakFisher205 Happy for any feedback on the docs here: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time

[2020-09-29 17:33] laksh-parab opened #519 "EF Core Power Tools does not keep identity column name"
I have <s>.NET Core 3.1</s>  .NET Standard 2.0 class library with Microsoft.EntityFrameworkCore.SqlServer 3.1.8. I am using VS 2019 with EF Core Power Tools 2.4.217

All my SQL table names are pluralize and have identity column with the following naming convention {TableName}ID. So for example **Documents** table has identity column **DocumentID**

When I use reverse engineering to generate entiti

[2020-09-30 06:21] ErikEJ commented on #519
Maybe you can use the [renaming feature](https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#custom-renaming-with-epftrenamingjson) ?

[2020-09-30 12:45] ErikEJ opened #520 "Add rights check for SQL Server"
see https://github.com/dotnet/efcore/issues/22842#issuecomment-701168538

[2020-09-30 12:59] ErikEJ commented on #515
I will add a check for the user being allowed to view definition, see #520

[2020-09-30 13:00] ErikEJ commented on #502
I will add a check for the user being allowed to view definition, see #520

[2020-09-30 13:25] #520 closed

[2020-09-30 13:26] ErikEJ commented on #515
I added a check: https://github.com/ErikEJ/EFCorePowerTools/commit/2a7525a2bdd0b0d68daede74a4faec34d1f03cba - let's see how that goes...

@smitpatel

[2020-09-30 19:15] phil000 opened #521 "View DbContext Model DDM SQL - No database provider has been configured for this DbContext"
System.ArgumentException: Error:
System.InvalidOperationException: No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service provider. If AddDbContext is used, then also ensure that your DbContext type accepts a DbContextOptions<TContext> object in its constructor an

[2020-09-30 19:17] ErikEJ commented on #521
Did you read the error message?

[2020-09-30 19:21] phil000 commented on #521
Yes.

The code is generated by the tool, and the mentioned constructor exists...

"If AddDbContext is used, then also ensure that your DbContext type accepts a DbContextOptions object in its constructor and passes it to the base constructor for DbContext."

*public MessagingContext(DbContextOptions<MessagingContext> options) : base(options)*

[2020-09-30 19:23] ErikEJ commented on #521
You need to add UseSqlServer or similar for this provider specific feature to work.

[2020-09-30 19:25] phil000 commented on #521
In AddDbContext we do this in Startup ConfigureServices:

services.AddDbContext<MessagingContext>(builder =>
			{
				builder.UseSqlServer(connectionString, provider =>

[2020-09-30 19:31] julielerman opened #522 "Support for net5?"
Hi Erik,
 I imagine that at some point you'll be supporting projects targeting NET5.
I tried searching issues  but didn't find anything.
Just updating my EF Core course but I am in early days and can defer this part until later.
Thanks!

[2020-09-30 19:52] ErikEJ commented on #522
Assume you are referring to model inspection?

[2020-09-30 19:53] ErikEJ commented on #521
Please provide a repro project, and I will have a look

[2020-09-30 19:57] laksh-parab commented on #519
In SQL the table name is pluralized and all the ID columns ( PK and FK) has affix ID.  I want corresponding class name to be singular and no change in the column/property name. There are more ID columns than number of tables. So during reverse engineering,  i selected `Use table and column names directly from the database` option. This generates property name correctly. But it creates pluralize cl

[2020-09-30 20:24] julielerman commented on #522
Sorry yes. I have only tried my favorite feature so far...generating the dgml.

[2020-10-01 06:07] #522 closed

[2020-10-01 06:08] ErikEJ commented on #522
Fixed in latest daily build

[2020-10-01 14:24] KayakFisher205 commented on #517
Looks good. I find myself copying and pasting the current efpt.config.json and renaming to match the Context I'm creating. I didn't know if there was a better way

[2020-10-01 19:05] julielerman commented on #522
THANK YOU !!!! :) I hope it was super easy and quick.

[2020-10-01 19:08] snappyfoo opened #523 "Reverse engineering: relationship delete behaviour is incorrect"
A non-nullable foreign key is reversed engineered into a relationship where the delete behaviour is ClientSetNull

### Steps to reproduce
Applicant and ApplicationForm tables:
![image](https://user-images.githubusercontent.com/41150696/94851859-ec02c080-0420-11eb-867a-f3cc8e7474e9.png)

Reverse engineered into this:

[code]

ClientSetNull summary mentions: `This is the default for optional relatio

[2020-10-01 19:11] ErikEJ commented on #522
Not too hard; https://github.com/ErikEJ/EFCorePowerTools/commit/3a8426f4e83c802c8d05fb18491ae84c0ec67ba2

[2020-10-01 19:22] ErikEJ commented on #523
Not sure, but you should probably ask in the EF Core repo

@bricelam  ?

[2020-10-01 19:23] ErikEJ commented on #519
It is not something that is currently supported.

[2020-10-01 19:23] #519 closed

[2020-10-01 19:24] ErikEJ commented on #519
Maybe fixed with EF Core 5 ?

[2020-10-01 21:14] bricelam commented on #523
Reverse engineering will only use `Cascade` if the FK in the database uses ON DELETE CASCADE. In other words, your database doesn't use EF's default, so it explicitly configured it to match the database.

[2020-10-01 23:29] snappyfoo commented on #523
Ok, so my suggestion it should be Cascade in the EF confit is wrong, but isn’t there still an issue with using ClientSetNull? Because it knows it’s not nullable. Isn’t Restrict or NoAction more appropriate?

[2020-10-02 12:04] biiiipy opened #524 "Reverse Engineer of a .dacpac fails with a Cross-Database Reference"
I get an error when reverse engineering project with a Database Reference.
Dacpac project builds fine and can resolve all objects from referenced database, but reverse engineering fails.

### Steps to reproduce

In a dacpac project click `Add Database Reference` and reference a dacpac file. It creates a DB variable, for example, $(DB).

Create a view:
[code]

Reverse Engineer error:
[code]

### Fu

[2020-10-02 12:08] ErikEJ commented on #524
Have you tried setting ignore errors on your database project?

[2020-10-02 12:29] biiiipy commented on #524
Still get the same error... here's a snippet from my project file:
[code]

Or did you mean a different setting?

[2020-10-02 12:42] ErikEJ commented on #524
That's what I meant. In order to debug I need a repro solution.

[2020-10-02 13:32] biiiipy commented on #524
Repro solution:
[efcorerepro.zip](https://github.com/ErikEJ/EFCorePowerTools/files/5318269/efcorerepro.zip)

On DBModel project run reverse engineer for DB2

[2020-10-02 13:52] florinciubotariu commented on #519
Still doesn't work on my side.

[2020-10-02 13:54] ErikEJ commented on #519
@florinciubotariu ??? What do you mean? Did you try "Use Database Names" with EF Core 5 and it did not work?

[2020-10-02 20:40] bricelam commented on #523
ClientSetNull means that EF (the client) will set any loaded foreign keys currently being tracked to null. But the database will continue to restrict (more or less the same thing as "no action") if you try to save the entity marked for delete. Having the client cascade the deletion into loaded entities can help make managing graphs of objects easier for scenarios like re-parenting.

Also worth men

[2020-10-02 21:33] snappyfoo commented on #523
Not sure now where is best to comment, but one of your replies in the other thread is:

“Given that the foreign keys and their delete behaviour is defined in the database, I fail to see how this makes much difference if any if scaffolding from an existing database.”

I can give you a use case but it does feel like a simple point that the reverse engineering should just accurately model the databas

[2020-10-03 04:39] PureConsulting opened #525 "Stored procedure is not generated if it contains a varchar parameter with a length more than 255 characters"
Stored procedure is not generated if it contains a varchar parameter with a length more than 255 characters.  i.e. varchar(256)

### Steps to reproduce
Create a stored procedure with a varchar paramter of length 500

CREATE PROCEDURE [dbo].[usp_CancelReservation]
	@ReservationID int,
	@AdminID int,
	@CancelReason varchar(500)  = ''
AS

### Further technical details
EF Core Power Tools version: (fo

[2020-10-03 04:43] PureConsulting opened #526 "Stored procedure is not generated if it uses a #temp table"
Stored procedure is not generated if it uses a #temp table

### Steps to reproduce
Create a stored procedure that uses a #temp table

exec dbo.sp_describe_first_result_set N'dbo.usp_SwapReservations'

returns the following results

Msg 11526, Level 16, State 1, Procedure dbo.sp_describe_first_result_set, Line 1 [Batch Start Line 18]
The metadata could not be determined because statement 'UPDATE Lo

[2020-10-03 06:30] ErikEJ commented on #525
Are you convinced it is the varchar parameter?

[2020-10-03 07:13] PureConsulting commented on #525
Yes it's the varchar.  I removed it and it generated fine.  I then added it back with 100 chars and it also worked. I then bumped it up to 256 and it would not generate so backed it down to 255 and it generated.

[2020-10-03 07:57] ErikEJ commented on #525
Interesting - I will have a look.

[2020-10-03 07:58] ErikEJ commented on #523
Closing as there is not really anything to do for Power Tools here.

[2020-10-03 07:58] #523 closed

[2020-10-03 08:00] ErikEJ commented on #526
Agree, I will look into generating a warning. Could you create a sample sproc?

[2020-10-03 08:46] ErikEJ commented on #526
And thanks for trying out this preview feature and providing feedback, btw

[2020-10-03 08:54] florinciubotariu commented on #519
@ErikEJ You are right. I overlooked it.

If you have the following settings then your db columns will translate the same in this XID case.

![image](https://user-images.githubusercontent.com/18595953/94987431-0945a500-056f-11eb-85c5-f44db31dd4de.png)

Sorry for wasting your time.

[2020-10-03 08:56] ErikEJ commented on #519
@florinciubotariu no wasting of time at all! Thanks for confirming. @laksh-parab  FYI!

[2020-10-03 09:08] snappyfoo commented on #523
Interesting response, no attempt to point me in the right direction

[2020-10-03 12:23] PureConsulting commented on #526
CREATE PROCEDURE usp_GetUserTables
AS
BEGIN
	SELECT * INTO #temp1 FROM sys.tables;
	SELECT * FROM #temp1
END

[2020-10-03 12:32] PureConsulting commented on #526
Alternatively, you could generate the stored procedure with an empty resultset but warn the user that the stored procedure was generated with an empty resultset.  That would be my choice.

[2020-10-03 12:35] ErikEJ opened #527 "Make DGML viewer a required component"
Microsoft.VisualStudio.Component.GraphDocument 15.0

[2020-10-03 19:40] dkovacs81 commented on #506
Thanks a lot Eric for the great support and for the very quick fix again!
I can confirm that in the last release, 2.4.217, the issue is fixed.

[2020-10-03 20:03] laksh-parab commented on #519
As i mentioned `Use table and column names directly from the database` does translate `ID` to `ID`, however it also keeps the  entity class name pluralized.

[2020-10-04 05:55] ErikEJ commented on #519
@laksh-parab see #473

[2020-10-04 17:23] ErikEJ commented on #526
How and where would the user be warned?

[2020-10-04 17:38] PureConsulting commented on #526
Keep a list of them while you are processing and the pop up a dialog box at the end and say something like "The following procedures contained temp tables which prevented the extraction of the result-sets.  These procedures were created but contain empty result-sets.

<<List of Stored Procedures>>

[2020-10-05 05:23] #525 closed

[2020-10-05 05:23] #527 closed

[2020-10-05 05:23] ErikEJ commented on #527
@julielerman FYI

[2020-10-05 06:03] #526 closed

[2020-10-05 10:52] ErikEJ commented on #524
This is currently not supported, and appears to be an old issue: https://stackoverflow.com/questions/12161392/using-ssdt-how-do-i-resolve-sql71561-errors-when-i-have-a-view-that-references

[2020-10-05 11:00] ErikEJ commented on #521
Closing as no repro has been provided, please feel free to re-open if you can supply one.

[2020-10-05 11:00] #521 closed

[2020-10-05 11:28] biiiipy commented on #524
Thanks for the help!
It's weird that my dacpac builds successfully without any errors or warnings (it also grabs the references dacpac into output folder), it's only when I do reverse engineer, that I get the error. Could it be that EF Core Power tools goes through different build steps so it fails?

[2020-10-05 12:00] ErikEJ commented on #524
Absolutely, in order to load and inspect the resulting model of your database, all referenced .dacpacs are consolidated to a single one, and that is the step that fails.

I will try to test without consolidation based on your original .dacpacs.

[2020-10-05 12:09] #473 closed

[2020-10-05 12:10] ErikEJ commented on #519
@laksh-parab Implemented in latest daily build, but for EF Core 5 only

[2020-10-05 13:05] ErikEJ commented on #524
I tried that, but unable to resolve the view columns

[2020-10-05 13:16] biiiipy commented on #524
Maybe there's a room at least for a workaround? For example, by providing column information by other means, maybe by using ``union`` to merge definition from a mock table with data from the actual source:
[code]

[2020-10-05 13:22] ErikEJ commented on #524
Possibly. Let's see if any others report this - you are the first one..

[2020-10-06 08:08] biiiipy opened #528 "Reverse Engineer view skips columns with Cast"
If a view has a column with `Cast`, the generated model skips that column

### Steps to reproduce

[code]

Reverse Engineer result:
[code]

### Further technical details
EF Core Power Tools version: 2.4.217

Database engine: SQL Server 2016

Visual Studio version: 16.7.4

[2020-10-06 08:39] ErikEJ commented on #528
From a dacpac or live db?

[2020-10-06 08:54] biiiipy commented on #528
It doesn't work with .dacpac file or dacpac project (can reproduce with the same project in my previous issue), BUT it seems that reverse engineering from a MDF (that has the dacpac deployed), works correctly.
Is it preferable to reverse engineer from a DB than a dacpac?

[2020-10-06 09:04] ErikEJ commented on #528
There are a number of limitations in relation to views when using a dacpac, do if you rely on them, publish to a live db.

[2020-10-06 10:37] biiiipy commented on #528
Thank you very very much for clarification! Closing.

[2020-10-06 10:37] #528 closed

[2020-10-06 11:05] bairog opened #529 "Error - Unable to find requested .Net Framework Data Provider"
I have WinForms application targeting .NET Framework 4.8.
I'm using Visual Studio 2019 16.7.5 Enterprise and have Microsoft.EntityFrameworkCore.SQLite 3.1.8 nuget reference.
I've installed latest version of your extension from Extentions -> Manage Extentions menu
![image](https://user-images.githubusercontent.com/44995181/95192945-a73da780-07db-11eb-8197-e257055d3488.png)
After that I used EF Core

[2020-10-06 11:31] ErikEJ commented on #529
The SQLite provider is not installed, you must follow this guide very carefully, if you do that, then the dialog will look like this instead:

![image](https://user-images.githubusercontent.com/4169187/95196171-000b4100-07d8-11eb-93fc-d709789db8fd.png)

[2020-10-06 11:34] bairog commented on #529
@ErikEJ Follow which guide?

[2020-10-06 11:50] #529 closed

[2020-10-06 11:52] ErikEJ commented on #527
![image](https://user-images.githubusercontent.com/4169187/95198228-30a0aa00-07db-11eb-994b-7208df8109c5.png)

[2020-10-07 13:45] ErikEJ commented on #427
This can be done with the command line tooling, not something I plan to implement.

[2020-10-07 13:45] #427 closed

[2020-10-08 08:42] ErikEJ commented on #423
@szabczy Have a look at this PR https://github.com/ErikEJ/EFCorePowerTools/pull/530

[2020-10-11 10:01] Sandjuro opened #531 "Possibility to set a basetype or interface on the entities on the reverse engineer"
I cant find the possibility to write a type to inherit on the entity e.g

public class Entity : Ientity

### Steps to reproduce
Right click on project and chose ef power tool -> reverse engineer

### Further technical details
EF Core Power Tools version: 2.4.217

Database engine: (SQL database project)

Visual Studio version: (Visual Studio 2019 16.7.5)

[2020-10-11 10:26] ErikEJ commented on #373
@rcfearn DEFAULT 0 is optimized to be bool (and not bool? )

[2020-10-11 11:22] ErikEJ commented on #531
Have you tried the HandleBars templates?

[2020-10-12 10:57] ErikEJ commented on #420
Currently missing:
Handlebars
Oracle
MySQL

[2020-10-12 16:55] bricelam commented on #373
We ignore SQL DEFAULT constraints that match the CLR default value. This makes the DEFAULT 0 case more sane.

If we didn't make DEFAULT 1 nullable, you'd rip a lot more hair out when you finally found out that your app hasn't been inserting `false` values.

We would also like to see this experience improved: https://github.com/dotnet/efcore/issues/13613#issuecomment-429978794

[2020-10-13 07:36] ErikEJ commented on #531
Ping?

[2020-10-13 08:43] Sandjuro commented on #531
Hi Erik,

Thank you for your quick answer, I'm trying to meet a deadline today, and
will try to use the handlebar template tomorrow.

Kind regards,

Johnny

Den tir. 13. okt. 2020 kl. 09.36 skrev Erik Ejlskov Jensen <
notifications@github.com>:

--
Med venlig hilsen

Johnny Mogensen
Birthevej 6
2740 Skovlunde

Mob: 2636 2192

[2020-10-13 13:56] ErikEJ commented on #531
Look at the wiki.

[2020-10-13 14:22] biiiipy opened #532 "Run Reverse Engineer from cmd?"
Is it possible to run the same reverse engineer that gets executed from Power Tools UI, but from command line or from nuget package lib? We would like to automate this stuff...
In the docs I saw an example for reverse engineering from dacpac, but not regular DB.
I could use built in EF core CLI, but would like to keep compatibility with EF Core Power Tools, and also use advanced features of Power

[2020-10-13 15:00] ErikEJ commented on #532
What you saw in relation to .dacpac was for the EF Core CLI.

Duplicate of #340 , where I also [reveal some of the internals](https://github.com/ErikEJ/EFCorePowerTools/issues/340#issuecomment-670929754) of the documented EF Core Power Tools command line tool. the .config file format used is very similar to efpt.config.json, but with some additions.

[2020-10-13 15:00] #532 closed

[2020-10-13 15:17] Liero opened #533 "Reverse Engineer - UseDatabaseNames still pluralizes bug"
I can't stop pluralizing my DBSets and Navigation properties when Reverse Engineering. I'm using EF Core 5 Preview.

I set Use table and colum names directly from database
![image](https://user-images.githubusercontent.com/3494407/95880582-f48bbd00-0d77-11eb-890a-791f68d07368.png)

[code]

[2020-10-13 15:20] ErikEJ commented on #533
Which extension version? You need the latest daily? (And set UseLegacyPluralizer to false)

[2020-10-14 05:37] ErikEJ commented on #531
Feel free to re-open if you do not manage.

[2020-10-14 05:37] #531 closed

[2020-10-14 05:37] ErikEJ commented on #533
Ping?

[2020-10-14 12:24] TanguyPa commented on #525
I encountered the same problem, I had procedures with varchar(1000), by lowering to 100 char the reverse engineering generation worked.

[2020-10-14 12:25] ErikEJ commented on #525
@TanguyPa this is fixed in latest daily build!

[2020-10-15 07:46] TanguyPa opened #534 "Reverse Engineer - Nullable varchar bug"
I'm trying to call a stored procedure that has varchar as parameter.
When I pass a NULL string to the corresponding method in C#, an exception occurs :
The parameterized query '(@p1 varchar(40) @p2 varchar(40) @p3 vnvarchar(4' expects the parameter '@p1' which was not supplied.

I solved my problem by manually changing each parameter value by adding :
Value = (object)myParam?? DBNull.Value

I don'

[2020-10-15 07:49] ErikEJ commented on #534
Please share the stored procedure decalration, and also the line of code where you call it, and I will have a look.

[2020-10-15 08:10] TanguyPa commented on #534
So i get this error message :

I think the error message in english is :
The parameterized query '(@testParameter1 int @p2testParameter2 varchar(255))EXEC [dbo].[Te' expects the parameter '@testParameter2' which was not supplied

Here is the code of my stored procedure, I made a test procedure that does nothing.
[code]

Here is the C# code to called it in async method :
[code]

And this is the gen

[2020-10-15 09:00] ErikEJ commented on #534
You are not forgetting things, you found a bug! Fix coming up 😄

[2020-10-15 09:47] #534 closed

[2020-10-15 09:47] ErikEJ commented on #534
Fixed in latest daily build

[2020-10-15 10:16] TanguyPa commented on #534
It works fine, thank you.

[2020-10-15 10:17] ErikEJ commented on #534
Thanks for reporting this, and for confirming the fix.

[2020-10-15 13:13] TanguyPa opened #535 "Reverse Engineer - Output parameter bug"
I think I found a new bug concerning the generation of stored procedures with "OUTPUT" parameters.
[code]
As you can see the return statement is called before the output value is saved, so the ouput value is never filled.

EF Core Power Tools version: 2.4.239

Database engine: SQL Server

Visual Studio version: 2019 16.7.2

[2020-10-15 13:21] ErikEJ commented on #535
Perfect! It is because there is no result from this procedure, just the output parameter.

Can you share a dummy/test stored procedure?

[2020-10-15 14:08] TanguyPa commented on #535
SQL part :
[code]
Generated code :
[code]

[2020-10-15 16:15] #535 closed

[2020-10-15 16:15] ErikEJ commented on #535
Fixed in latest daily (actually, OUTPUT parameters did not work at all)

[2020-10-15 17:08] ErikEJ commented on #83
@gemolnar It can be the name of your database, or the name of your DbContext, you decide, as long as the file follow the efpt.*.config.json naming pattern, it will be recognized.

[2020-10-15 17:09] ErikEJ commented on #83
@gemolnar Docs are here: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time - appreciate any feedback.

[2020-10-16 06:11] TanguyPa commented on #535
Thank you again, this works fine now !

[2020-10-16 06:56] ErikEJ commented on #533
Fixed in latest daily, feel free to re-open if that is not the case

[2020-10-16 06:56] #533 closed

[2020-10-16 06:57] ErikEJ commented on #152
Not something I plan to do

[2020-10-16 06:58] ErikEJ opened #537 "Support return value from stored procedures"
[code]

[2020-10-16 12:00] gemolnar commented on #83
I upgraded to the latest daily build (2.4.242) and now it works for me. I created multiple `efpt.xyz.config.json` files and when I click `Reverse Engineer` it lets me choose which one to use.
Thanks!

[2020-10-16 12:03] ErikEJ commented on #83
@gemolnar thanks for confirming, yes, as you can see from the Release notes, this is currently only available in the daily build.

[2020-10-16 12:08] #537 closed

[2020-10-16 19:11] tscilipoti opened #538 "Nullable Stored Procedure Parameters for SQL Server Cause Runtime Exception"
When I use reverse engineering to map stored procedures that have nullable parameters I consistently get runtime exception
`Microsoft.Data.SqlClient.SqlException (0x80131904): The parameterized query '(@MyPrimaryKey int,@MyNullableColumn varchar(20),@MyNonNullableColumn' expects the parameter '@MyNullableColumn', which was not supplied.`
Stored procedure mapping is the primary EFPowerTools use cas

[2020-10-16 20:06] ErikEJ commented on #538
Fixed in latest daily, I believe

[2020-10-16 20:43] tscilipoti commented on #538
Fabulous. New version worked on first try. Guess I should have looked at latest commits before taking the time to put that repro package together! Thanks for your help.

[2020-10-16 20:43] #538 closed

[2020-10-16 20:50] tscilipoti commented on #468
would love to see this too

[2020-10-16 21:52] nlarion opened #539 "Ability to reverse engineer stored procedures using temp tables."
Perhaps this is a known issue, and in that case apologies... It would be nice to have the ability to reverse engineer stored procedures that create and use temp tables. When I Reverse Engineer a database with stored procedures that include a temp table, the extension throws an error:

### Steps to reproduce
- Reverse Engineer a database
- include stored procedures
- use a stored procedure that inc

[2020-10-17 05:35] ErikEJ commented on #468
@tscilipoti Why is this important?

[2020-10-17 06:07] ErikEJ commented on #539
I am using sp_describe_first_result_set to discover metadata, and it does not support temp tables, so this is sadly by design.
https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-describe-first-result-set-transact-sql?view=sql-server-ver15

[2020-10-17 06:08] ErikEJ commented on #538
Glad you got it to work, and thanks for trying out this preview feature in my free tool.

I plan to do an official release mid-November (when .NET 5.0 is released)

[2020-10-17 13:31] ErikEJ commented on #467
I have done some investigation, and there is no way of doing this without breaking stuff.

[2020-10-17 13:31] #467 closed

[2020-10-17 13:41] ErikEJ commented on #437
@DawgCoder Would the above solution work for you?

[2020-10-17 14:26] NutmegAdam opened #540 "Config file efpt.config.json not created, ArgumentNullException"
I have been trying to reverse engineer a database into a class library. I created a separate library project (.NET Standard 2.1, and also tried .NET Core 3.1) for this, and used the Reverse Engineer tool against the database.

The main problem I encountered was that the stored procs don't get generated, and then I noticed that the config file wasn't getting saved either. Looking in the Output wind

[2020-10-17 14:43] ErikEJ commented on #540
To generate stored procedures, enable via advanced options.

It looks like the tool is unable to get the path to your project for some reason.

What is the path?

[2020-10-17 15:05] NutmegAdam commented on #540
I did check that off in Advanced options - I apologize for neglecting to mention that in the initial post.

There's nothing weird about the path, as far as I can see:

``C:\Users\adamy\source\repos\DataPump\IchDb``

Given this works fine for other databases, I'm not sure why this one is  problematic. Perhaps an error further down is causing this not to get populated, possibly whatever the issue is

[2020-10-17 16:17] NutmegAdam commented on #540
I tried creating a completely new, stand-alone solution, in case the problem came from here in ReverseEngineerHandler due to something weird in the solution file:

[code]

However, even a clean solution has the same result. But, I can reverse engineer other databases, and I don't see how an error deeper down with scaffolding could bubble up and make the options path null. That said, I have no expe

[2020-10-17 16:21] ErikEJ commented on #540
I need a repro in order to help.

To fix the wonky db, drop the duplicate foreign key.

[2020-10-17 16:22] ErikEJ commented on #540
You can share privately via email

[2020-10-17 16:23] ErikEJ commented on #540
Debugging the extension is also quite easy

[2020-10-17 17:14] NutmegAdam commented on #540
The wonky db isn't important to me, it was just a convenient one to try connecting to, to verify that it wasn't the project file itself that was weird. So it appears that not creating the config file is consistent on my machine, and is likely *not* related to whatever makes me unable to reverse-engineer the stored procs from the actual db of interest, which is not one I can directly provide access

[2020-10-17 17:16] ErikEJ commented on #540
Either debug the extension or share a repro solution as a zip file.

Not convinced I can repro locally.

[2020-10-17 17:45] ErikEJ commented on #540
I was able to repro, bug fix in the works.

[2020-10-17 17:55] #540 closed

[2020-10-17 17:55] ErikEJ commented on #540
Fixed in latest daily build, thanks for reporting (and trying out the daily build)

[2020-10-17 17:58] NutmegAdam commented on #540
Awesome, that was fast - thanks! I'll look into how to debug an extension, and see if I can be more helpful figuring out why that one database can't be reverse engineered with stored procs.

Thanks for all your efforts!

[2020-10-17 17:59] ErikEJ commented on #540
@NutmegAdam I you still have issues with the stored procedures, send me the database schema, and I will figure out why.

[2020-10-17 19:36] NutmegAdam opened #541 "Unable to scaffold stored procedure: Invalid column name 'is_nullable'."
Now that the config file issue is resolved, the reverse engineering proceeds and gets me to the error I was originally looking into.

I get a long list of the same error:

[code]

Some of those procedures have params, some don't. Some return data, some don't. But given that this isn't happening with other databases I connect to, and since the error seems to be an internal confusion over a column n

[2020-10-17 19:44] ErikEJ commented on #541
You need to share the sprocs.

Which SQL Server version?

[2020-10-17 20:01] NutmegAdam commented on #541
Microsoft SQL Server 2008 R2 (RTM) - 10.50.1600.1 (X64)

What email should I send the definitions to?

[2020-10-17 20:07] ErikEJ commented on #541
SQL Server 2008 is not supported!

[2020-10-17 20:09] NutmegAdam commented on #541
Aha! Well then that's one more reason to add to the list of reasons for them to upgrade, like we've been trying to get them to do for years! :)

Thanks very much for all your help today - keep up the good work!

[2020-10-17 20:11] #541 closed

[2020-10-18 06:13] ErikEJ commented on #541
I will update the docs to make it clear that only SQL Server 2012 or later is supported

[2020-10-19 12:50] tscilipoti commented on #468
My database has dozens and dozens of stored procs. In my current project I only need to write code against a small handful of them. The way the tools are written now, it generates classes and data access code for ALL the sprocs every time I run the reverse engineer routine. So I have to go in behind the tool and delete all those unneeded classes and all that unneeded code.

Moreover, in the next i

[2020-10-19 13:28] ErikEJ commented on #468
Thanks, makes sense...

[2020-10-19 13:30] ErikEJ commented on #468
Why is it important to delete the autogenerated code ?

[2020-10-19 15:24] tscilipoti commented on #468
We follow a best practice of not having a bunch of unexercised, unused, untested code in our codebase.

[2020-10-19 19:22] ErikEJ commented on #468
Thanks, I will prioritize this feature.

[2020-10-20 00:52] rasaconsulting-sandy opened #542 "efpt.config.json not appearing to work"
I'm trying to use the EF Core Power Tools to generate a SQL Server view into a C# class with a different name (i.e. view name = "shared.vw_Person" and I want a resulting Entity class = "PersonViewModel".  I've created a 'efpt.config.json' file in the project root - see below for file contents.  The power tools appear to ignore the 'efpt.config.json' file....

![Screenshot 2020-10-20 135055](https:

[2020-10-20 03:15] NutmegAdam commented on #542
This might be related to issue #540 - the problem I had was writing the file, but presumably would affect reading it as well, due to the issue getting the name. If it was that, then the nightly build should fix it.

[2020-10-20 05:19] ErikEJ commented on #542
Looks like you got the filename wrong - it should be efpt.renaming.json - is there an issue with my documentation?

[2020-10-20 06:27] rasaconsulting-sandy commented on #542
Oh awesome thanks!  It was an issue with my file name - no problems with the documentation - I just ran it successfully now.

[2020-10-20 06:30] rasaconsulting-sandy commented on #542
I just found a discrepancy in the documentation (https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering) which is where I got things wrong - the section heading is "Custom renaming with e**pf**t.renaming.json" but the filename needs to be e**fp**t.renaming.json

[2020-10-20 07:48] ErikEJ commented on #542
Docs typo fixed, thanks!

[2020-10-20 07:48] #542 closed

[2020-10-20 09:26] ErikEJ opened #543 "[Feature] Add ability to pick and scaffold Sql Server UDFs"
#468 #437

[2020-10-20 09:45] ErikEJ commented on #543
@dawgcoder Splitting this out as a seperate feature

[2020-10-20 11:57] #468 closed

[2020-10-20 11:57] ErikEJ commented on #468
Implemented in latest daily build

[2020-10-20 12:53] ErikEJ commented on #437
Closing in favor of #543

[2020-10-20 12:53] #437 closed

[2020-10-20 12:55] ErikEJ commented on #524
Looks like this is not feasible for multiple reasons, workaround is to scaffold from a publish (even local) database.

[2020-10-20 12:55] #524 closed

[2020-10-20 16:38] rasaconsulting-sandy commented on #542
Thanks for your help - I love the tool!

[2020-10-20 16:41] ErikEJ commented on #542
You are welcome - If you enjoy my free tools, I would be very grateful for a rating or review here:

https://marketplace.visualstudio.com/items?itemName=ErikEJ.EFCorePowerTools&ssr=false#review-details

[2020-10-21 00:54] Varorbc commented on #226
@ErikEJ whether it can be used as an option, I do not want to generate this mark.

[2020-10-21 04:38] ErikEJ commented on #226
Just remove the line, and the file will be left

[2020-10-21 04:42] Varorbc commented on #226
@ErikEJ My database has many tables, if I delete them one by one, it will become very complicated

[2020-10-21 04:44] ErikEJ commented on #226
Why do you want to not have the autogenerated tag?

[2020-10-21 04:55] Varorbc commented on #226
Because it will not be formatted by VS, I suggest adding this tag to the custom template. I generated it through a custom template. Obviously there is no such tag, but the generated file does carry this tag

[2020-10-21 04:58] ErikEJ commented on #226
I did not understand any of that, sorry. Maybe you need to provide some examples.

[2020-10-21 21:29] rasaconsulting-sandy commented on #488
This is an awesome tool thanks!  I was wondering if it's possible to update the configuration file anyway to have multiple ModelNamespace and Output paths for a single dbcontext?  What I'm trying to achieve is to save the entities (i.e. db tables) into an 'Entities' folder and the models (i.e. db views) into a 'Models' folder.  Currently I'm doing the updates manually each time I refresh the dbcon

[2020-10-22 00:58] mbharodia opened #544 "EntityOnly for POCO generates context related classes"
I got the latest daily build today with VS 2019 Enterprise. I wanted to generate Entity type (POCO) only. Beside entity types, it also added DB context related classes.

![image](https://user-images.githubusercontent.com/10344641/96805383-c6892700-13ce-11eb-98dc-7a040ffa7897.png)

![image](https://user-images.githubusercontent.com/10344641/96805424-e1f43200-13ce-11eb-910c-aa1eb62aaec9.png)

### St

[2020-10-22 02:14] Varorbc commented on #226
As an option, it might be better for users to choose

[2020-10-22 05:45] ErikEJ commented on #488
@rasaconsulting-sandy why are you posting this on a closed issue?

What are "db views" - there is no distinction between views and tables with EF Core, so if that is what you mean, the answer is probably no.

[2020-10-22 06:20] rasaconsulting-sandy commented on #488
Hi Erik,
By "db views" I mean database views - the ones created by joining tables together and saving in the SQL Server database.  I use these as my "Model" classes.
Sorry to post on this closed issue - it seemed relevant at the time (scaffolding and configuration of the code generated) and I didn't realise it was closed until after i posted.
Thanks again for your tool.
Sandy

[2020-10-22 10:39] #544 closed

[2020-10-22 10:40] ErikEJ commented on #544
Thanks for reporting, fixed in latest daily build.

[2020-10-22 13:04] mbharodia commented on #544
Okay. Thanks. It worked; I tested this with the latest daily build.

From: Erik Ejlskov Jensen <notifications@github.com>
Sent: October 22, 2020 4:40 AM
To: ErikEJ/EFCorePowerTools <EFCorePowerTools@noreply.github.com>
Cc: Mayur Bharodia <mayur@interactiveinterfaces.ca>; Author <author@noreply.github.com>
Subject: Re: [ErikEJ/EFCorePowerTools] EntityOnly for POCO generates context related classes

[2020-10-22 15:46] johnhenley opened #545 "Rev Eng some .HasKey() not getting generated"
Using reverse engineering against SQL database

When context is generated, several entities are missing the entity.HasKey(... statements.

Can't seem to determine a pattern.

Also doesn't matter whether or not using split configurations.

The primary keys are defined in the database, and
efpt.config.json has "HasPrimaryKey": true for all affected tables

EFCore Power Tools 2.4.217.0
Database is SQ

[2020-10-22 15:52] johnhenley commented on #545
Never mind. I didn't realize that they were not needed if they followed the naming conventions. Sorry for the interruption....:)

[2020-10-22 15:52] #545 closed

[2020-10-25 16:43] ErikEJ commented on #288
Both need VS tooling

[2020-10-25 16:45] ErikEJ commented on #211
Not something I plan to implement

[2020-10-25 16:48] ErikEJ commented on #340
No current plans to do this

[2020-10-25 16:48] #340 closed

[2020-10-25 17:24] MagicAndre1981 commented on #288
as mentioned, [firebird has DDEX](https://www.tabsoverspaces.com/233604-installing-ddex-provider-for-firebird-into-visual-studio-2017), but install is a bit complicated

[2020-10-25 17:59] ErikEJ commented on #288
A bit 😁

[2020-10-26 01:48] Varorbc opened #546 "Add localization"
Add localization

Current status:

- [x] Simplified Chinese
- [x] French
- [x] Italian
- [x] Turkish
- [ ] ???

![image](https://user-images.githubusercontent.com/4169187/111023313-97ed0680-83d8-11eb-8f13-bebfe61580a8.png)

[2020-10-26 05:47] ErikEJ commented on #546
Do you mean of the UI?

[2020-10-26 06:19] Varorbc commented on #546
yes

[2020-10-26 06:49] ErikEJ commented on #546
I am open to a PR to do this...

[2020-10-26 06:53] ErikEJ commented on #546
https://docs.microsoft.com/en-us/visualstudio/extensibility/localizing-vsix-packages?view=vs-2019

https://docs.microsoft.com/en-us/visualstudio/extensibility/localizing-menu-commands?view=vs-2019

(And error messages etc.)

[2020-10-27 08:18] TanguyPa opened #547 "[Feature] Reverse Engineer - Add schema name in class/method/property name"
When views have the same name but different schema names, the names of the generated classes and methods are not very explicit.
For example, if you have three schemas: dev, stag, prod and you have a view "VMyView" defined on each schemas: dev.VMyView, stag.VMyView, prod.VMyView.
The generated classes will be named as follows:
VMyView, VMyView1, VMyView2, the same thing happens for the property nam

[2020-10-27 09:15] ErikEJ commented on #547
I think you can use the renaming feature to fix this.
https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#custom-renaming-with-efptrenamingjson

[2020-10-27 09:41] TanguyPa commented on #547
It's exactly what i was looking for. Thank you

[2020-10-27 11:04] #547 closed

[2020-10-27 14:15] ErikEJ commented on #437
@DawgCoder Ping?

[2020-10-27 14:57] DawgCoder commented on #437
Yes sir, how can I help?
________________________________
From: Erik Ejlskov Jensen <notifications@github.com>
Sent: Tuesday, October 27, 2020 10:15 AM
To: ErikEJ/EFCorePowerTools <EFCorePowerTools@noreply.github.com>
Cc: DawgCoder <anthonyyott@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ErikEJ/EFCorePowerTools] Feature Request - Reverse Engineer UDFs (#437)

@DawgCoder<https:

[2020-10-27 14:58] ErikEJ commented on #437
Look at my question above..

[2020-10-27 15:04] DawgCoder commented on #437
Yes, that would work.
________________________________
From: Erik Ejlskov Jensen <notifications@github.com>
Sent: Tuesday, October 27, 2020 10:59 AM
To: ErikEJ/EFCorePowerTools <EFCorePowerTools@noreply.github.com>
Cc: DawgCoder <anthonyyott@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ErikEJ/EFCorePowerTools] Feature Request - Reverse Engineer UDFs (#437)

Look at my question

[2020-10-28 09:22] tiomny commented on #539
Please check https://github.com/DarioN1/SPToCore. It can generate stored procedure mapping even if SP uses temp table or contains dynamic code.
Such generated stored procedure mappings are fine in some cases, for example when I don't need results set.

[2020-10-28 11:27] ErikEJ commented on #539
@tiomny I see, so you suggest just logging and then ignoring errors callings sp_describe_first_result_set ?

[2020-10-28 11:33] tiomny commented on #539
That might be the parameter IgnoreResultSet.

[2020-10-28 12:25] ErikEJ commented on #539
I cannot see that anywhere, could you please link to it?

[2020-10-28 12:29] tiomny opened #548 "Error converting System.DBNull in OutputParameter.SetValue"
Exception is thrown in OutputParameter.SetValue when value is System.DBNull

### Steps to reproduce
[code]

### Further technical details
EF Core Power Tools version: 2.4.266.0

Database engine: (SQL Server)

Visual Studio version: (e.g. Visual Studio 2019 16.7.7)

### Possible solution
[code]

[2020-10-28 12:30] tiomny commented on #539
I suggest you to introduce this parameter and corresponding functionality.

[2020-10-28 13:15] ErikEJ commented on #539
I think it may make more sense to just ignore and log the failed attempt to get the result set?

[2020-10-28 13:18] tiomny commented on #539
That would work for me perfectly.

[2020-10-28 13:46] ErikEJ commented on #548
Thanks for reporting this, fixed in latest daily build

[2020-10-28 13:46] #548 closed

[2020-10-29 07:15] #539 closed

[2020-10-29 07:15] ErikEJ commented on #539
Fixed in latest daily build

[2020-10-30 10:01] TanguyPa opened #549 "Reverse Engineer - Multiple parameters with output parameter"
I got this error when i try to execute my stored procedure.
[code]
I think this happen because the generated code of stored procedure code is wrong :
`            var _ = await _context.Database.ExecuteSqlRawAsync("EXEC @returnValue = [dbo].[Test] @something, @something1, @something2, @something3, @something4, @something5, @something6, @something7, @something8, @something9, @something10, @somethin

[2020-10-30 10:21] merallisa opened #550 "Power tool not rename navigation property if foreign key column has similar name"
Power tool not rename navigation property if foreign key column has similar name
`
efpt.renaming.json:
{
            "Name": "SourceOfTreatment",
            "NewName": "SourceOfTreatment"
 },
 {
            "Name": "SourceOfTreatmentNavigation",
            "NewName": "AL_ReferralSource"
 }
`
generated class:

        ....
        public long? SourceOfTreatment { get; set; }

        [ForeignKey(

[2020-10-30 10:56] ErikEJ commented on #550
The renaming feature does not apply to navigation names, as documented.

[2020-10-30 10:56] #550 closed

[2020-10-30 11:00] ErikEJ commented on #549
Can you modify the generated code, so it does not fail, and share that?

[2020-10-30 13:08] ErikEJ commented on #549
I have managed to repro, testing a fix now

[2020-10-30 13:23] #549 closed

[2020-10-30 13:24] ErikEJ commented on #549
Fixed in latest daily, thanks for reporting

[2020-10-31 17:44] omatrot opened #551 "Enhancement : Reverse Engineer from an EDMX file?"
I'm wondering if we could in the future reverse engineer from an existing edmx file ?
Would it be difficult to port the code that existed in the initial EF Power tools ?
I may have some time to dedicate to this task in the near future.

[2020-10-31 18:03] ErikEJ commented on #551
I think it could be quite difficult, as the current reverse engineering is based on a database model, not a conceptual edmx model... But interesting thought.

Your task would be to create a class that can create a DatabaseModel from an edmx, have a look at the code that does this from a .dacpac. (that has been serialized into a TSqlModel)

[2020-10-31 18:34] ErikEJ commented on #551
Maybe you could use this? https://archive.codeplex.com/?p=linqtoedmx

[2020-11-01 09:07] omatrot commented on #551
All right, let me see what I can do.

[2020-11-01 09:27] ErikEJ commented on #551
Perfect, ping me with any design questions.

[2020-11-01 11:15] ErikEJ commented on #551
Found this - LINQ to EDMX looks vry old: https://github.com/robertmclaws/EDMXParsingSample/blob/master/src/EdmxParsingSample.Data/EdmxLoader.cs

[2020-11-02 21:43] janissimsons opened #552 "System.Exception: Table list error - cannot reverse engineer"
### Description
Reverse engineer crashes.
Project type: ASP .Net Core 3.1

### Steps to reproduce
Started EF Core Power Tools -> Reverse Engineer.
Added SQL Server connection, clicked on 'Test' button and connection was successful.
Pressed OK in this dialog:
![image](https://user-images.githubusercontent.com/6424248/97922182-baa14b80-1d64-11eb-81d8-1e3f43e44113.png)

And nothing happened, in  the

[2020-11-02 21:51] janissimsons commented on #552
Update:
I enabled this flag: TrustServerCertificate under advanced settings and the error is gone:
![image](https://user-images.githubusercontent.com/6424248/97923141-35b73180-1d66-11eb-975b-32d55e19b5d6.png)

You should probably add some warning to the error message, so other people know what to try in this case.

[2020-11-03 05:11] janissimsons opened #553 "How to add schema name to entity names?"
This is not a bug, this is a question - how do I include the schema name when generating entities?
For example, Prd.Store is currently generated as Store.cs, but I want it to be named Prd_Store.cs

How do I accomplish this? And I don't really want to specify each table manually, since I have over 400 tables that should follow this pattern: {schema}_{tableName}.cs

[2020-11-03 05:34] janissimsons opened #554 "Cannot reverse engineer multiple DBContexts in the same directory"
Tool deletes the first DbContext and replaces it with another when I run it again.

### Steps to reproduce
1. Generate entities in a separate directory, for example, ''Data\Products'' and ProductsDbContext in a common directory: "Data\Contexts".
2. Now run the tool again and generate for a different set of tables, place them in "Data\Customers" and CustomersDbContext in the same common directory:

[2020-11-03 06:05] ErikEJ commented on #552
I think this only happens if you connect to a older, poorly maintained version of SQL Server - which exact version are you connecting to?

[2020-11-03 06:09] ErikEJ commented on #553
I think you can use the renaming feature: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#custom-renaming-with-efptrenamingjson (combine "UseSchemaName" with a regex)

[2020-11-03 06:09] janissimsons commented on #552
![image](https://user-images.githubusercontent.com/6424248/97954276-bb110500-1dab-11eb-989d-71a2e9651277.png)

[2020-11-03 06:11] ErikEJ commented on #554
This is really not supported, but if you must do this, you can preserve previously generated files as described here: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time

[2020-11-03 06:11] #554 closed

[2020-11-03 06:12] ErikEJ commented on #553
Also, having 400 tables in a single DbContext will cause you pain.

[2020-11-03 06:17] ErikEJ commented on #552
Hmm.. Latest 2016 CU. You are hit by this change: https://github.com/dotnet/SqlClient/pull/391 - but I cannot start parsing SqlClient error messages.

[2020-11-03 06:17] #552 closed

[2020-11-03 07:10] janissimsons commented on #553
They are split across multiple contexts, so it's more like 40-50 tables per one dbcontext.

What does the "UseSchemaName" flag do? I don't see any examples where it's being used.

[2020-11-03 07:20] janissimsons commented on #553
I don't understand how to use the regex feature, I followed the example in linked issue, and this is what I came up with:
[code]

But it doesn't rename anything.

[2020-11-03 07:21] ErikEJ commented on #553
It includes the schema name in the property name - try it out!

[2020-11-03 07:23] ErikEJ commented on #553
Start with the example in the linked PR

[2020-11-03 07:32] janissimsons commented on #553
I used the sample that user e-ngin wrote 4 days ago:
[code]

I just replaced "dbo" with "Fact", and also added the missing square brackets, so in the end it looks like this:

[code]

Then I regenerated entities, but they weren't renamed. Am I missing anything in the file?

[2020-11-03 07:36] ErikEJ commented on #553
There could be a bug, please use the exact same parameters as in the PR first.

[2020-11-03 07:41] ErikEJ commented on #553
If you still encounter issues, please share your renaming json file, and a sample create table script.

[2020-11-03 08:32] tiomny opened #555 "Reverse Engineering: space in property in SP result class"
Classes are generated with spaces in properties when stored procedure returns a dataset with columns containing space.

### Steps to reproduce
Source SP
[code]

Generated code
[code]

### Further technical details
EF Core Power Tools version: 2.5.270

Database engine: MS SQL Server

Visual Studio version: Visual Studio 2019

[2020-11-03 08:55] ErikEJ commented on #555
OMG !! Did not see this coming. what happens if you rename - can you get any results?

[2020-11-03 09:15] tiomny commented on #555
Haven't tried that yet as I don't use mappers of such SPs yet.
I can test that for you if that's really needed.
BTW, renaming rules are not applied to these classes.

[2020-11-03 09:18] ErikEJ commented on #555
I will test it - doubt it will work at all.

And renaming is not supported at all with stored procedure rev eng, that is correct

[2020-11-03 09:37] ErikEJ commented on #555
This is not supported with EF Core, as the returned column name must match the C# property name when using FromSql.
Workaround is to modify the stored procedure (or call via another procedure, which returns columns without spaces)

[2020-11-03 10:06] tiomny commented on #555
It works perfectly when I use [Column] attribute in results class:
[code]

[2020-11-03 10:46] #555 closed

[2020-11-03 10:48] ErikEJ commented on #555
Fixed in latest daily build, let me know if that solves your issue, and thanks for reporting this.

[2020-11-03 11:07] janissimsons commented on #553
I got it working :)
The issue was this flag, I had to disable it:
![image](https://user-images.githubusercontent.com/6424248/97977383-cc223c00-1dd4-11eb-86b5-96fc4b624f21.png)

And if anyone else in the future needs this functionality, here is the config file I used:
[code]

The only issue I am still encountering - after having disabled that flag, the tables are no longer named as they are in the

[2020-11-03 11:11] ErikEJ commented on #553
Great. I think the database names issue may be fixed in EF Core 5

[2020-11-03 11:11] #553 closed

[2020-11-03 11:11] tiomny commented on #555
Will you implement applying renaming rules to SP result classes?

[2020-11-03 11:13] ErikEJ commented on #555
No current plans to do that, feel free to create an feature request.

[2020-11-03 11:18] ErikEJ commented on #553
Where is the _ by the way?

[2020-11-03 11:22] janissimsons commented on #553
If you mean the regex part, then I added the underscore here:
`
"TablePatternReplaceWith": "Order_$0"
`
Result: "OrderItem.cs", should have been: "Order_Item.cs"

[2020-11-03 11:24] ErikEJ commented on #553
I have linked your sample from the docs...

[2020-11-03 15:01] thomasyde opened #556 "Autogenerated code is using methods not supported"
Describe what is not working as expected.
Generating code from SQL server
![image](https://user-images.githubusercontent.com/3297418/98000899-4c549b80-1ded-11eb-8433-2df1ab69baf3.png)

I've added the Microsoft.EntityFrameworkCore.Relational (google was kind to suggest that) but that did not help.

### Further technical details
EF Core Power Tools version: (found in About dialog - blue questionmark

[2020-11-03 15:15] ErikEJ commented on #556
Are you mixing EF Core 5 code with 3.1 binaries, or vice versa?

[2020-11-03 15:28] mikaelbnielsen opened #557 "Reverse engineering - Tables not mapped, tables names contains danish characters"
Hi Erik

First of all, thanks for a nice tool.

When i reverse engineer a database, some tables are not mapped.

After a closer look, i suspect the problem is the tables contains an letter 'æ' in the name

Do you have an workaround on this ?

Does the power tool provide an output log for helping identifying the issue ?

Thank you in advance

Regards
Mikael

### Further technical details
EF Core Po

[2020-11-03 16:20] ErikEJ commented on #557
Please share a create table script for the unmapped table.

Something is causing it to be excluded, and therefore no errors are logged.

[2020-11-03 19:23] thomasyde commented on #556
No just basic EF 2.2.6 and just used the EFPT since it looks really good.

[2020-11-03 19:27] ErikEJ commented on #556
2.x is no longer supported!

[2020-11-03 20:32] ErikEJ commented on #556
I can offer a download with an older version that supports 2.2

[2020-11-04 08:05] thomasyde commented on #556
Thanks Erik, I think I'll wait with that and see if I can upgrade to latest version instead. Thanks for the fast response. :)

[2020-11-04 08:05] #556 closed

[2020-11-04 08:55] mikaelbnielsen commented on #557
Database and table sql:
CREATE DATABASE [testdb]
GO

create schema MySchema
GO

CREATE TABLE [MySchema].[MinÆndring](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FK_StatusTypeId] [int] NOT NULL
 CONSTRAINT [PK_MinÆndring] PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]

[2020-11-04 08:58] ErikEJ commented on #557
Are you generating from a live database or .dacpac?

[2020-11-04 09:02] mikaelbnielsen commented on #557
It from a live database.

Med venlig hilsen Mikael Braad Nielsen Bakkevej 2, Ølsted  8723 Løsning Tlf: 25303467

    Den onsdag den 4. november 2020 09.58.45 CET skrev Erik Ejlskov Jensen <notifications@github.com>:

Are you generating from a live database or .dacpac?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-04 11:56] ErikEJ commented on #557
Unable to reproduce,  works fine on my DB :smile:

What is your database collation? Mine is: SQL_Latin1_General_CP1_CI_AS

[2020-11-04 12:12] mikaelbnielsen commented on #557
Hopefully it is just setting then ;-)

I am using Danish_Norwegian_CI_AS.

I have just tried SQL_Latin1_General_CP1_CI_AS, but with the same result.

![2020-11-04 13_04_41-Select Tables to Script](https://user-images.githubusercontent.com/7123634/98110038-cbee7300-1e9e-11eb-8dd7-9868cdf2f303.png)
![2020-11-04 13_06_58-Database Properties - testdb2](https://user-images.githubusercontent.com/7123634

[2020-11-04 12:50] ErikEJ commented on #557
Please try to run (from %temp% folder)

    efreveng.exe 3 "Data Source=(local);Initial Catalog=MyDatabase;Integrated Security=true"

and share the output - it could be an issue with console output encoding.

(https://stackoverflow.com/questions/2062875/show-utf-8-characters-in-console )

[2020-11-04 13:20] ErikEJ commented on #557
Hi, I have attempted a fix in the latest daily build: https://github.com/ErikEJ/EFCorePowerTools/wiki/Release-notes

[2020-11-04 13:26] mikaelbnielsen commented on #557
Here is the out for both databases with different collations

![2020-11-04 14_17_53-C__WINDOWS_system32_cmd exe](https://user-images.githubusercontent.com/7123634/98116716-f6ddc480-1ea8-11eb-925b-f349b6d996ab.png)

I will go test you daily build right away.

[2020-11-04 13:46] mikaelbnielsen commented on #557
Version 2.5.272.0

SQLite ADO.NET Provider included: 1.0.109.0
SQLite EF6 DbProvider in GAC - No

System.Data.SQLite DDEX provider - No
SQLite Simple DDEX provider - Yes

No, the daily build did not solve the problem.

![2020-11-04 14_42_15-Window](https://user-images.githubusercontent.com/7123634/98118955-3eb21b00-1eac-11eb-8b3e-44b0e9e9e496.png)
![2020-11-04 14_43_02-Window](https://user-images.

[2020-11-04 14:20] ErikEJ commented on #557
But the encoding made a difference, though!

what is your default codepage - type:

  chcp

from a cmd prompt

[2020-11-04 14:29] ErikEJ commented on #557
I have just updated the daily build, maybe I set the output encoding in the wrong end of the pipeline.

[2020-11-04 14:35] mikaelbnielsen commented on #557
Hi again

Yes, it did change, my code page is 850

![2020-11-04 15_33_31-Window](https://user-images.githubusercontent.com/7123634/98124236-36111300-1eb3-11eb-94df-439e0978c883.png)

I will try installing the new build.

[2020-11-04 14:46] ErikEJ commented on #557
Thanks, I can now try to repro with that code page set.

[2020-11-04 14:47] mikaelbnielsen commented on #557
Version 2.5.273.0

SQLite ADO.NET Provider included: 1.0.109.0
SQLite EF6 DbProvider in GAC - No

System.Data.SQLite DDEX provider - No
SQLite Simple DDEX provider - Yes

Hi again

Now it looks much better, the table is now mapped correct into the class

But now there is some C#  8.0 code in the generated code
![2020-11-04 15_41_57-Window](https://user-images.githubusercontent.com/7123634/98125528

[2020-11-04 14:54] ErikEJ commented on #557
What prevents you from using C# 8?

[2020-11-04 15:05] mikaelbnielsen commented on #557
I am using the .net standard repository project in some .net 4.8 projects, so i can't change the version from 2.0 to 2.1.

[2020-11-04 15:13] mikependon opened #558 "Proposal: Can we have an Identical Tool that is not bound to EF?"
Hi @ErikEJ , hope your day went well. The tools you developed is very awesome and thank you for this. It is a great help to the community.

You know, I am also an OSS contributor and is maintaining a Micro-ORM that is open for .NET Community and such tool is an alternative to EF as we speak. Though, I am also thinking to build the similar tools you had created for the EF Core, but it seems appropr

[2020-11-04 15:15] ErikEJ commented on #557
There probably something I missed - so C# 8 does not work with .NET Standard 2.0 projects??

[2020-11-04 15:32] mikaelbnielsen commented on #557
Hi again

.net standard 2.0 supports c# 7.3
.net standard 2.1 supports c# 8.0

Reference
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version

.net standard 2.0 project can be used in .net framework 4.6.1.
.net standard 2.1 project can not be used in .net framework projects.

Reference
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

We are on

[2020-11-04 15:41] ErikEJ commented on #557
I will fix this, thanks for the info!

[2020-11-04 15:59] #557 closed

[2020-11-04 16:00] ErikEJ commented on #557
Fixet i seneste build - tak for hjælpen!

[2020-11-04 16:07] ErikEJ commented on #558
Just some thoughts:

1: Maybe just add an additional menu item, to keep it a single codebase:

Reverse Engineer POCO (Dapper, RepoDB etc.)

2: Connection string - not needed, as this is generated in the DbContext.

3: Removing stuff from Server Explorer is .... complicated.

[2020-11-04 21:47] mikependon commented on #558
This would do, TBH, for as long it can simplify the way we generate the POCO classes and/or needed columns for Micro-ORMs without tweaking the template behind handle-bars. Remember, when working with micro-ORM, you do not need all the columns most of the time (you only manipulate the needed columns), but we/you can always default it to "all-columns".

I also agree with your comment in relation to

[2020-11-05 06:54] ErikEJ commented on #558
Can you share the modifications you do to the HandleBars templates?

[2020-11-05 07:56] mikaelbnielsen commented on #557
Selv tak og tak for hurtigt respons.

[2020-11-05 08:50] mikependon commented on #558
Sure, below are the modified templates, and it is running as expected.

**Properties.hbs**

[code]

**Contructor.hbs**

[code]

[2020-11-05 10:13] chassq opened #559 "System.ArgumentException: Only .NET Core 2.2 and 3.0, and 3.1 are supported"
Using EF Core PT to reverse engineer and create a diagram for our Database. Seems to work fine so far but when we try to create a diagram we get teh following error in the Output window.

[code]
Did not know if this is a known issue or not. Here are our project references.

[code]

### Steps to reproduce
Create a Class file with a TFM of net5.0
Add packages above
Install EF Core Power Tools
Run re

[2020-11-05 10:20] ErikEJ commented on #559
Have you tried the latest daily build?

[2020-11-05 10:37] ErikEJ commented on #558
Would those modifications apply to both Dapper and Repo?

[2020-11-05 10:39] mikependon commented on #558
Yes, it would work I am pretty sure. But it would be nice if we can also filter the columns to be provisioned on the Entity Types during the 'Reverse Engineer'.

[2020-11-05 10:42] ErikEJ commented on #558
Yes, I understand you column filter request, but it is quite complex to fulfill.

[2020-11-05 10:49] mikependon commented on #558
No worries of eliminating our request of column filtering. For as long we have the tools like this that could generate the models, it is much easier to just simply delete the unnecessary columns from the models, than writing everything from scratch 😉

[2020-11-05 14:38] tiomny commented on #555
Generated properties are duplicating:
[code]

[2020-11-05 14:45] ErikEJ commented on #555
Please create a new issue with a CREATE PROCEDURE statement.

[2020-11-05 14:54] ddieppa opened #560 "Reverse Engineering Store Procedure not working"
I am using the latest EF 5 RC, and also using the new AddPooledDbContextFactory. When I used the tool and mapped the sprocs, the sprocs is always returning null, I did the same query using Dapper for example and is returning values.

this is what I am doing trying to get the sproc results:
[code]
I was following this article:
https://erikej.github.io/efcore/2020/08/10/ef-core-power-tools-stored-pr

[2020-11-05 15:00] ErikEJ commented on #560
Have you done any debugging?

I most likely need a full, console app based repo...

[2020-11-05 15:16] ddieppa commented on #560
I am using it in my company production application, that wont be possible. I would try to repro in a console app. But could It be related to the PooledDbContextFactory?

[2020-11-05 15:18] ErikEJ commented on #560
I would imagine so, but did you try debugging?

[2020-11-05 15:23] ErikEJ commented on #555
I am not able to reproduce with build .274

[2020-11-05 15:48] ddieppa commented on #560
yeah, I did debug, but no errors, just the result is null (in this case is _)

[2020-11-05 15:59] tiomny commented on #555
Sorry - it is a duplicated column in SP itself.

[2020-11-05 16:19] ErikEJ commented on #560
You can step into SqlQuery - but in order to assist i need a repro app Console or ASP.NET Core

[2020-11-05 16:51] ErikEJ commented on #555
Maybe there is an issue with two identical names in the result set,?

[2020-11-05 16:53] tiomny commented on #555
Yes there was - fixed that and reverse engineering worked like a charm.

[2020-11-05 16:56] ErikEJ commented on #555
I mean, maybe the tools should uniquefy duplicate result set columns?

[2020-11-05 17:41] ErikEJ opened #561 "Investigate if duplicate result set columns in stored procs can cause issues."
It does, but only workaround is to rename a column in the sproc result.

[2020-11-05 18:12] tiomny commented on #555
That might be needed in some case - but not in mine :)

[2020-11-06 08:09] ErikEJ commented on #559
Ping?

[2020-11-06 08:15] #561 closed

[2020-11-06 08:25] ErikEJ commented on #559
Verified that latest daily build works as expected.

[2020-11-06 09:00] chassq commented on #559
I just ran it with teh latest build and got this:

1>------ Build started: Project: OneMarket.Srv.Dal.Sql, Configuration: Debug Any CPU ------
1>You are using a preview version of .NET. See: https://aka.ms/dotnet-core-preview
1>OneMarket.Srv.Dal.Sql -> C:\Users\charl\source\repos\OneWaterMarketplace\OneMarket.Srv.Dal.Sql\bin\Debug\net5.0\OneMarket.Srv.Dal.Sql.dll
========== Build: 1 succeeded, 0 f

[2020-11-06 09:02] chassq commented on #559
Also seeing an issue whereby if I exclude the Connection string I am getting this code int eh context file.

[code]

[2020-11-06 09:08] ErikEJ commented on #559
Please avoid mixing unrelated issues.

Look at the link in the error message for the diagram issue, and also refer to the wiki.

[2020-11-06 09:09] ErikEJ commented on #559
For the OnConfiguring issue, please provide repro steps.

[2020-11-06 09:35] chassq commented on #559
Ok well I guess the daily build addressed the original issue above. Diagrams are a separate issue we will add after looking at info in wiki.

The repro steps for OnConfiguring are as follows:
1. Choose ReverseEngineer from power tools context menu
2. Select the database connection and select Use EF Core 5 (preview).
3. See setting selections below. Have removed tables for brevity.
[code]
Hope that

[2020-11-06 10:31] ErikEJ commented on #559
Perfect, thanks, I will investigate

[2020-11-06 14:34] chassq opened #562 "Question: Incorporating Handlebars to use schema folders."
Per the docs at https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars we are supposed to be able to set options.EnableSchemaFolders = true; (see example) but EF Power Tools does not seem to honor this maybe? Any ideas on what we may be doing wrong? We looked at the wiki and saw several issues but it is still not quite clear to us what route to take?

https://github.com/Er

[2020-11-06 14:47] ErikEJ commented on #562
Not currently possible, duplicate of #158

[2020-11-06 14:47] #562 closed

[2020-11-06 14:57] chassq opened #563 "Error when trying to do Add DbContext Model Diagram"
Cannot seem to get the Add DbContext Model Diagram option to work. Receive the following error.

[code]

### Steps to reproduce
Create a class file:
[code]

We read on the wiki the following items:

You must be able to build the project **- Yes we can build**
The model inspection tool (an external process launched by Visual Studio) can be blocked by a virus scanner or similar - **We do not think t

[2020-11-06 15:01] chassq commented on #562
Ok just to clarify you say "Not currently possible" but based on the other issue #158 you are awaiting PRs and will not be doing this yourself. Is that about right?

[2020-11-06 16:03] ErikEJ commented on #563
You are mixing EF Core 5 and EF Core 3 packages - that wont work!

[2020-11-06 16:05] ErikEJ commented on #562
Correct, that about sums it up...

[2020-11-06 16:23] ErikEJ commented on #559
@chassq I am unable to repro, maybe you have made some changes to the Handlebars templates that breaks the Entity configuration splitter? Make sure you are using the latest EF Core 5 handlebars templates (rename the codetemplates folder temporarily)

[2020-11-06 16:27] ErikEJ commented on #559
Yes, confirmed, this code fragment comes from the Handlebars template - workaround is to remove the fragment and references to it.

[2020-11-06 16:33] ErikEJ commented on #559
Actually look like a bug in HandleBars (or my usage of it), in terms of respecting the no-onconfiguring option. Maybe @tonysneed can help me ?

[2020-11-06 16:55] chassq commented on #562
Ok thanks! Much appreciated.

[2020-11-06 16:57] chassq commented on #563
Wow, so sorry. Big miss on my part. Thank you that did it!

[2020-11-06 16:57] #563 closed

[2020-11-06 19:39] roopeshkumar opened #564 "Bool types are generated as nullable"
Hi,
    When I reverse engineer the models from the database, datatype (bit) not null in the database is being generated as Nullable(?) in the models. Am using EF Core power tools version  2.4.217.0

Thanks
Roopesh

[2020-11-06 22:35] ghisbo opened #565 "When a table has an index, the scaffolding generates an erroneous statement in modelbuilder"
Describe what is not working as expected.

### Steps to reproduce
SQL Table

CREATE TABLE [dbo].[Vat] (
    [Id]             BIGINT     NOT NULL,
    [VatNumber]      CHAR (40)  NOT NULL,
    [CountryCode]    CHAR (10)  NULL,
    [Number]         NCHAR (30) NULL,
    [ValidationDate] DATE       NULL,
    [IsCompanyHash]  BIT        NOT NULL,
    CONSTRAINT [PK_Vat] PRIMARY KEY CLUSTERED ([Id] ASC)

[2020-11-07 04:22] ErikEJ commented on #565
You are mixing EF Core 5 scaffolding with the 3.1 runtime.

[2020-11-07 05:12] ErikEJ commented on #564
Duplicate of #245

[2020-11-07 05:12] #564 closed

[2020-11-07 05:13] #565 closed

[2020-11-07 08:32] ErikEJ commented on #559
Looks like you were using 3.1 Handlebars templates - please rename or delete the CodeTemplates folder.

[2020-11-07 08:32] #559 closed

[2020-11-07 11:18] chassq commented on #559
That worked. Thanks Erik!

[2020-11-07 11:20] ErikEJ commented on #559
Great, thanks for the heads up.

[2020-11-07 15:08] chassq opened #566 "Is there a special handlebar code temple for Configuration classes?"
The separate configuration classes do not seem to yet have a handle bars template? Is that correct?

This is preview but seem to get the following:

### Steps to reproduce
1. Set all Code templates to use the accessibility level of **internal** instead of **public** (just trying it out).
2. Reverse Engineer (using dotnet 5 preview)
3. We see the context and entity type classes set to internal but

[2020-11-07 15:11] ErikEJ commented on #566
Correct, there is no support for HandleBars templating with configuration splitting, and it is unlikely there ever will be - so the context splitting may stay in preview until EF Core supports it natively.

[2020-11-07 15:11] #566 closed

[2020-11-07 15:12] chassq commented on #566
Thank you!

[2020-11-07 15:32] ErikEJ commented on #566
If you look at the current implementation in the DbContextSplitter class, you may notice that it is pretty "hacky" ...

[2020-11-07 15:47] chassq commented on #566
Thanks, I can see the string builder that is used. I am just not familiar enough to judge "hackyness" ;-). Thank you for providing these tools. I hope it continues to expand and add more features. I appreciate how difficult this is to create.

[2020-11-07 16:09] ErikEJ opened #567 "Mark stored procedure support as preview"

[2020-11-08 11:00] chassq opened #568 "[Question] How do we remove database connections"
We would like to remove database connections but do not know how. We looked at #332 but opening the Server Explorer does not show the database where they might be stored.

To note if we try to add a database connection (e.g. SQL Server Compact 4.0 (Simple by ErikEJ) or SQLite Provider (Simple for EF6 by ErikEJ) we get an error stating we need a .NET Framework Data Provider installed.

Can you elab

[2020-11-08 12:11] ErikEJ commented on #568
The connections are stored under Data Connections in Server Explorer in VS.

Those two options require additional software installed (a .NET Framework Provider !!) as described in the wiki.

[2020-11-08 12:36] ErikEJ opened #569 "Remove SQL COmpact DDEX provider"

[2020-11-08 16:32] chassq commented on #568
Thank you! I see it now.

[2020-11-08 16:32] #568 closed

[2020-11-08 18:32] #567 closed

[2020-11-08 18:32] #569 closed

[2020-11-10 06:47] ErikEJ commented on #560
Any update on getting a repro propared?

[2020-11-10 06:50] ErikEJ opened #570 "Make stored procedure scaffolding available as NuGet package"
Possible, but... https://github.com/dotnet/efcore/issues/23164#issuecomment-724286442

[2020-11-11 08:29] ErikEJ commented on #560
Ping?

[2020-11-11 12:13] manuel-zulian opened #571 "Reverse engineer on mysql not working (The annotation 'MySql:IndexPrefixLength' cannot be added because an annotation with the same name already exists.)"
Reverse enginneering a mysql db doesn't work anymore after upgrading to the latest version (2.5), raising this output:
[code]
It seems to be a problem in the pomelo lilbrary (https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/1189), but it seems ef power tools does not include the fix (yet).

### Steps to reproduce
Check https://github.com/PomeloFoundation/Pomelo.EntityFra

[2020-11-11 12:33] #571 closed

[2020-11-11 12:34] ErikEJ commented on #571
Fixed in latest daily build (.279 or later)

[2020-11-11 16:13] sm15455 opened #572 "Proposal: Specify columns to ignore during reverse engineering"
Hi,

when scaffolding from database, I often need to map a property to an enum type and not to its database column type. I know I can use handlebars template, but I have another suggestion which could make life easier. Would it be possible to expand the renaming file (or create a new one) to specify columns to ignore during import? This would allow me to use partial classes to define properties fo

[2020-11-11 16:38] ErikEJ commented on #572
Please give an example of your modifications if a column was not included.

[2020-11-11 19:03] sm15455 commented on #572
`
//EFPT generated code
public partial class Person
{
  public int Id { get; set; }
  public string Name { get; set; }
}

//my custom code
public partial class Person
{
  public Gender Gender { get; set; }
}

public enum Gender
{
  Male,
  Female,
  Other
}

public partial class MyDbContext
{
  void OnModelCreatingPartial(ModelBuilder modelBuilder)
  {
    modelBuilder.Entity<Person>(entity =>

[2020-11-11 19:04] Trigun27 commented on #158
@ErikEJ Hi. I think this will be a nice feature. Maybe I can try to write the required code.
Any tips and suggestions?

[2020-11-11 20:39] chriswitt75 opened #573 "How do I get the option to Reverse Engineer Stored Procedures?"
I have a .NET Core Web application, where I am using a Database Project to define my SQL Server database.  Then I have a DataAccess project that I use EFCPT to reverse engineer to.  Even though my database has stored procedures, I cannot get EFCPT to generate any code for them.  The table entities and db context are generated just fine, but no stored procedure code at all is generated.

### Steps

[2020-11-12 06:25] ErikEJ commented on #158
Had a closer look at this, looks like an approach to try would be to implement https://github.com/dotnet/efcore/blob/main/src/EFCore.Design/Scaffolding/Internal/RelationalScaffoldingModelFactory.cs#L299 and register this override when building the service provider, if a list of columns to exclude are available, then modify the DatabaseTable model by removing the excluded columns.

we would need a

[2020-11-12 06:30] ErikEJ commented on #573
This is not supported, as it is not possible to get any information about the shape of the result of the stored procedure from model.xml inside the .dacpac.

I will update the wiki post to clarify that you must reverse engineer form a live database to get stored procedure scaffolding.

[2020-11-12 06:30] #573 closed

[2020-11-12 06:35] ErikEJ commented on #572
Had a closer look at this, looks like an approach to try would be to implement https://github.com/dotnet/efcore/blob/main/src/EFCore.Design/Scaffolding/Internal/RelationalScaffoldingModelFactory.cs#L299 and register this override when building the service provider, if a list of columns to exclude are available, then modify the DatabaseTable model by removing the excluded columns.

we would need a

[2020-11-12 06:39] ErikEJ commented on #158
Actually, it does not look like there is any way of doing the in a generic fashion with the current implementation.

This place would be a potential place to do it, but I am not sure you have any schema information at this point: https://github.com/ErikEJ/EFCorePowerTools/blob/master/src/GUI/RevEng.Core/ReverseEngineerRunner.cs#L116

[2020-11-12 08:32] sm15455 commented on #572
That's the file I was looking at. I'm glad we have same idea.
I cloned the repository and will start working on a PR as soon as I can. The only problem is that I never created a VS Extension before so it will take some time before everything is setup.

[2020-11-12 08:37] ErikEJ commented on #572
@sm15455 As long as you have the Extensibility workload installed in Visual Studio, set EFCorePowerTools project as startup and set build platform to x86, it should be as simple a pressing F5!

Please feel free to discuss any design concerns before getting in too deep.

[2020-11-12 08:38] ErikEJ commented on #572
For testing just scaffolding, make the efreveng project your startup project!

[2020-11-12 09:39] heischo opened #574 "[Question] Will EFCore PT get support for Firebird Sql too?"
Hei Erik.
I use Firebird Sql, because I need the triggered event support in this database. At this time I only use Dapper MicroORM.
There exists also a driver for EF Core - so in case your fantastic product will get support for Firebird Sql I wish to start using EF Core together with your Power Tools.
Hilsen fra Norge :-)
/Heiko

[2020-11-12 09:50] ErikEJ commented on #574
There are some challenges, but a PR would be accepted - duplicate of #288

[2020-11-12 09:50] #574 closed

[2020-11-12 09:52] ErikEJ commented on #572
Duplicate of #353

[2020-11-12 12:49] ErikEJ commented on #560
Feel free to re-open if you can provide a repro using EF Core 5 RTM

[2020-11-12 12:49] #560 closed

[2020-11-12 18:36] alexle1965 commented on #290
Erik,  this is to let you know I love your tool.  I am trying out the .NET 5.0 features and I don't know how to tell the tool to move all of the Entity Configuration files to a specified directory and the same for the Result files for Stored Procedures.  For the domain entities and dbContext, they are easy to do.

[2020-11-12 18:46] ericccGit opened #575 "Unable to connect to database with SQL authentication that has special characters in the password"
I have am dealing with a database that only support SQL authentication and the password I was given has the special characters '$' and ';'. When using scaffold-dbcontext the only workaround that worked for me was to wrap the data-source in single-quotes and the password in double quotes:

Scaffold-DbContext 'Data Source=whatever.net,1433;Initial Catalog=whatEverDb;User Id=MyUserId;Password="dumbPa

[2020-11-13 05:57] paul1923 commented on #572
Another use case when ignoring column names is helpful is Temporal Tables, ie:  [SysEndTime], [SysStartTime] columns

[2020-11-13 06:43] ErikEJ commented on #572
@paul1923 Sure, but you can also mark them hidden.

[2020-11-13 06:48] ErikEJ commented on #290
@alexle1965 Please create new issues for feature suggestions or bug reports.

The Entity Configuration proposal is a duplicate of #423 .

For the Stored Procedure result files, where would you like them to be placed? - if this matters to you, please create a new feature suggestion with a proposal.

[2020-11-13 07:00] ErikEJ commented on #575
I am not able to reproduce with the provided example password, please provide more detailed repro steps.

[2020-11-13 09:50] sm15455 commented on #572
@ErikEJ I'm slowly moving on.

On The reveng side I did the following changes
- Modified the TableInformationModel class adding the ExcludedColumns (string[]) property.
- Inherited from RelationalScaffoldingModelFactory and overriden the VisitTable method to remove excluded columns before the visitor creates the entity builder for the table.
- Added the new scaffolder to the service provider build

[2020-11-13 10:56] ErikEJ commented on #572
Fantastic!

I suggest that we make it a manual feature for now, so folks can try it out, just make sure that we serialize and deserialize properly.

Then we can also think about improving the View Model, possibly map to a class that is better suited for UI display than the TableInformationModel.

[2020-11-13 12:24] PA256 opened #576 "'Keyword not supported: 'multiple active result sets'"
After the last reverse engineering the key word 'multiple active result sets' was added to the connection string in "Context.cs". This was never added before in previous reverse engineerings. This leads to the error 'Keyword not supported: 'multiple active result sets'.
Can i disable the key word being added? Otherwise i would have to remove it manually with each reverse engineering.

EF Core Powe

[2020-11-13 12:41] ErikEJ commented on #576
I dont see that, could you please provide detailed repro steps?

Also, it is better to not include the connection string in the generated code.

[2020-11-13 12:47] ErikEJ commented on #572
Submitting a PR with that will also make the changes and code review much more manageable.

[2020-11-13 12:50] tiomny opened #577 "Feature request: provide CancellationToken to SP mappers"
ExecuteSqlRawAsync has the overloaded implementation:
[code]
Is that possible to create mapping methods with CancellationToken as well? Method signature might be the following:
[code]

[2020-11-13 13:05] ErikEJ commented on #577
Why is that important (excuse my ignorance) ?

[2020-11-13 13:09] tiomny commented on #577
SP may run slowly/implement complicated business logic/get a deadlock. In that case I would like to have a possibility to terminate SP manually.

[2020-11-13 13:23] #575 closed

[2020-11-13 13:23] ErikEJ commented on #575
I was finally able to reproduce, I believe this was fixed in the latest daily build, see https://github.com/ErikEJ/EFCorePowerTools/pull/578

[2020-11-13 13:31] ErikEJ commented on #577
Got it - interested in doing a PR for this?

[2020-11-13 13:34] tiomny commented on #577
Yes.

[2020-11-13 13:43] ErikEJ commented on #577
Great, you need to make changes to

src\GUI\RevEng.Core\Procedures\SqlServerStoredProcedureScaffolder.cs

(GenerateProcedure and GenerateMethodSignature methods)

And also to DbContextExtensions file.

Let me know if you cannot figure out how to do a manual test - it is a little bit quirky.

[2020-11-13 16:29] ericccGit commented on #575
@ErikEJ It looks to be working now, thanks!

[2020-11-13 16:30] ErikEJ commented on #575
Thanks for confirming!

[2020-11-14 03:39] paul1923 commented on #572
@ErikEJ

I get around this by modifying the DbContext with Ignore entries, ie...
[code]
I need to do this for each DbSet.

I wasn't aware there was a hidden option, how do I access that

[2020-11-14 06:48] ErikEJ commented on #572
@paul1923 HIDDEN is part of the CREATE table statement

[2020-11-14 08:47] janissimsons opened #579 "How to inherit from different base classes"
How can I inherit from different base classes?
I have 3 dbcontexts, each has ~50 tables, and I have 3 base classes respectively.
The first set of entities should inherit from the first base class, the second set of entities from second base class and so on.

How can I accomplish this?
If I use handlebar templates, it only allows inheriting from one base class for all entities in the project.

[2020-11-14 09:43] ErikEJ commented on #579
This is not possible. It sounds like you are mixing database first and domain modelling...

[2020-11-14 09:43] #579 closed

[2020-11-14 12:07] sm15455 commented on #572
@ErikEJ I need permission to push a new branch.

[2020-11-14 12:21] ErikEJ commented on #572
You need to fork the project to your own Github repo, then create a Pull Request - are you not able to do that?

[2020-11-14 12:24] sm15455 commented on #572
Sorry, my first contribution on a GitHub project. I thought I should push a branch to this repo :D

[2020-11-14 12:27] ErikEJ commented on #572
No worries, been there myself - let me know if you are unblocked.

[2020-11-14 12:34] janissimsons commented on #579
Yes, I am integrating external databases, which I have no control over, but I have to work with their data in my application. So I am reverse engineering their entities, and most of them have common columns, which I can extract to a base class.
So I guess my only choice is to set the base class in handlebar template then regenerate only one set of entities, then change the template and regenerate

[2020-11-14 12:47] ErikEJ commented on #579
@janissimsons Yes, that would work, but would be slightly cumbersome, agree.

[2020-11-14 13:17] #423 closed

[2020-11-14 13:18] ErikEJ commented on #423
Fixed in latest daily build, please let me know if that works for you.

[2020-11-14 17:34] MizardX opened #580 "UI freeze while loading tables"
When running the extension against a large Oracle 12c database, the UI freezes for several minutes.

With some digging in the source-code, I found the command that is executing:
[code]

Could you please add some caching of the table list, and run the command in a background thread?

### Further technical details
EF Core Power Tools version: 2.5.277

Database engine: Oracle 12c 12.2.0.1.0

Visual S

[2020-11-14 17:37] ErikEJ commented on #580
I cannot influence the query to list the tables, but I will investigate making it more background.

[2020-11-14 20:23] ErikEJ commented on #580
Where could table list caching be added??

[2020-11-15 00:29] MizardX commented on #580
Your question is ambiguous if you mean where in the source the code should be written, or where on disk the cache should be saved. I choose to answer the latter.

If the file was stored in the user's home directory, it would get really large from multiple projects.

If you place it in the project directory as a normal file, or included it in `efpt.config.json`, it could generate many merge conflic

[2020-11-15 03:29] paul1923 commented on #572
@ErikEJ

Thanks for the tip on HIDDEN columns.  I've opted instead to create another DbContext partial class for the fields I want ignored.

[2020-11-15 08:12] #580 closed

[2020-11-15 08:14] ErikEJ commented on #580
Fixed UI freeze - suggest you take up why it takes more than 5 minutes to perform the schema queries with the maintainers of the Oracle provider and/or your database administrator.

/cc @alexkeh

[2020-11-16 03:04] thenrich2009 opened #583 "The tool deletes unchecked files"
I have a folder called Data which had the dbContext file and some entities. I used the tool to reverse engineer a new table from the database. I selected Data as the path for dbContext.

When the tool was done I noticed the following:
- The Data folder was gone from the Solution Explorer!
- I can see the folder in File Explorer. The folder was empty. All the files that were in there are gone. The

[2020-11-16 06:23] ErikEJ commented on #583
I assume you are using souce control?

The behavior and tips for usage is available here: https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering#saving-options-and-running-the-second-time - and there is a link to this GitHub repo from the About dialog in the tool.

[2020-11-16 07:22] thenrich2009 commented on #583
I am not using any source control. Even if I am using source control, why did the delete happen?

[2020-11-16 07:28] ErikEJ commented on #583
Because the files are marked with the autogenerated tag, as explained in the link.

[2020-11-16 07:50] thenrich2009 commented on #583
There's too much dependency on explaining stuff on some site. In the UI it asks which tables I want to script. That fact I uncheck some tables means I don't want to script them. It doesn't mean the tool goes and deletes the entities.  I can simply delete them from Solution Explorer if I need to or the tool specifically has a function to delete them. The UX is confusing.

How many people are going

[2020-11-16 08:10] ErikEJ commented on #583
Thanks for the feedback..

[2020-11-16 12:04] JHBonarius opened #585 "DbContextSplitting not working"
I saw the dotNETconf talk and wanted to check out this great tool. However, DbContextSplitting did non split my DbContext into seperate files.

### Steps to reproduce
New project. Run EF CorePowerTools with DbContextSplitting enabled.

### Further technical details
EF Core Power Tools Version 2.5.277.0

SQLite ADO.NET Provider included: 1.0.109.0
SQLite EF6 DbProvider in GAC - No

System.Data.SQLi

[2020-11-16 12:19] ErikEJ commented on #585
Can you share a repro project, works fine for me...

[2020-11-16 12:20] ErikEJ commented on #585
Maybe there was nothing to split?

[2020-11-16 12:21] JHBonarius commented on #585
Maybe I understand the functions incorrectly? I was expecting each DbSet to get their own context.
About sharing the repro. I need to make a new version, which doesn't have the name of our customer in it, give me some time.

[2020-11-16 12:26] ErikEJ commented on #585
If there is nothing in this section (without splitting), nothing will happen.

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            OnModelCreatingPartial(modelBuilder);
        }

[2020-11-16 12:27] JHBonarius commented on #585
OK, sorry for raising this issue then. I misunderstood.
Thanks for the tool and the talk!

[2020-11-16 13:21] #585 closed

[2020-11-16 13:22] ErikEJ commented on #583
How about a messagebox if you uncheck a file, warning you against the consequences, and if you press OK, the messagebox will not be show again ?

[2020-11-16 13:23] ErikEJ commented on #576
Any updates?

[2020-11-16 13:48] PA256 commented on #576
Hello Erik, yes you are right. That was a beginner mistake of mine. I moved the connection string outside of the generated code.
Thanks

[2020-11-16 13:48] #576 closed

[2020-11-16 14:39] sm15455 commented on #572
@ErikEJ I close this issue as the feature is now implemented. I'll open a new one for the UI

[2020-11-16 14:40] ErikEJ commented on #572
It is not in the daily build yet, hang in there...

[2020-11-16 15:03] #572 closed

[2020-11-16 22:59] netbitshift opened #587 "Support SQL 2008?"
Any chance of supporting SQL 2008 or getting an older build that supports that version?  I just updated our tool version and have lost support for sql 2008.  We really cant update just yet.

[2020-11-17 05:47] ErikEJ commented on #587
I am not sure any previous version intentionally supported 2008.

What is not working now?

[2020-11-17 06:17] ErikEJ commented on #572
@sm15455

Some thoughts on next step:

Create new class to exchange the table list (stop using TableInformation).
Add columns to this class.

Add columns to the output from TableList command if EFPT CLI tool.

Extend TableInformation with a new, non-serialized List<ColumnInformation>, where ColumnInformation has:

string Name
bool Excluded

Construct the ExcludeColumns property when loading option

[2020-11-17 09:41] ErikEJ opened #588 "Add UI to exclude columns from reverse engineering"
- [x] Create new class to exchange the table list (stop using TableInformation).
- [x] Add columns to this class.
- [x] Add columns to the output from TableList command if EFPT CLI tool.
- [x] Extend TableInformation with a new, non-serialized `List<ColumnInformation>`, where ColumnInformation has: string Name, bool Excluded
- [x] Construct the ExcludeColumns property when loading options, and set

[2020-11-17 11:05] sm15455 commented on #588
These steps looks ok to me. Regarding binding to UI, a treeview with checkboxes should work. Do you know if treeview virtualizes rendering? I'm afraid that for database with lots of tables and columns, rendering could slow slow down interface. In that case we could load columns on demand.

[2020-11-17 12:20] ErikEJ commented on #588
I do not know much about WPF, but lazy loading the columns is maybe something we should just do anyway.

[2020-11-17 13:24] netbitshift commented on #587
I was helping one of the team when I ran into this.  We had not updated our schema in a few months till now.  So when the need came up after changing a few tables, I was helping him do the reverse eng step.  This is when we got the following alert.  The window closes and no changes are done.
![image](https://user-images.githubusercontent.com/17503279/99395256-ca14ae80-28a5-11eb-992b-c35bfd563d19.p

[2020-11-17 13:27] ErikEJ commented on #587
I is just a warning, the process should complete

[2020-11-17 13:29] #587 closed

[2020-11-17 13:33] netbitshift commented on #587
Yes, thank you.  It was in fact just a warning.  Back in business.

[2020-11-17 15:30] NutmegAdam opened #590 "Reverse engineer error: Requested value 'sql_variant' was not found"
While trying to reverse engineer a database, this error comes up:

[code]

I am not sure which of many stored procedures it's trying to get properties for, and there is a warning at the beginning that "The SQL Server user does not have 'VIEW DEFINITION' rights", and I don't know if that's relevant to this.

The process stops here and doesn't continue on to the next item, and there's no indication

[2020-11-17 16:16] ErikEJ commented on #590
Thanks for the debugging, I will update the map soon.

[2020-11-17 16:18] NutmegAdam commented on #590
No problem, thanks!

[2020-11-17 16:37] sm15455 commented on #588
Deal. Do you want me to work on the missing points?

[2020-11-17 17:13] ErikEJ commented on #590
I attempted a fix in the latest daily build, thanks for reporting and trying out this preview feature 😄

[2020-11-17 17:35] NutmegAdam commented on #590
I can confirm this resolved that issue. However, it now progresses to a similar but perhaps more subtly complicated issue on data type "geography" - Would you prefer I create a separate issue for that, or leave it here as a related issue? I will try to make time this week to look into being able to log these errors to the output window but continue on, skipping unresolvable classes.

[2020-11-17 17:53] #590 closed

[2020-11-17 17:53] ErikEJ commented on #590
Please create a new issue with the full error message, thanks

[2020-11-17 17:57] NutmegAdam opened #592 "Reverse engineer error: Requested value 'geography' was not found"
Similar to #590 I believe. While trying to reverse engineer a database, this error comes up:

[code]

### Steps to reproduce
* Reverse-engineered a rather large SQL database w/ stored procedures

### Further technical details
EF Core Power Tools version: 2.5.304.0

Database engine: Microsoft SQL Server 2016 (SP2-CU9) (KB4515435) - 13.0.5479.0 (X64)

Visual Studio version: Visual Studio 2019 16.8.1

[2020-11-17 18:13] #592 closed

[2020-11-18 08:55] sm15455 commented on #588
TableInformationViewModel has TableInformationModel property and a Selected property. If I add a Columns property (list of string [name], bool [selected]) to TableInformationModel we will have Selected property in the model for columns and Selected property  in the view model for tables. This looks weird to me.

I still haven't fully analyzed the code, but I was thinking to:
- Remove TableInformat

[2020-11-18 09:14] ErikEJ commented on #588
I think it would be a healthy refactor - maybe you could do that in a separate PR before making any actual UI changes?

[2020-11-18 09:19] sm15455 commented on #588
If I make a PR with these changes only, UI would be in inconsistent state. I should at least make the minimal changes to align it with the TableInformationViewModel changes.

[2020-11-18 09:33] ErikEJ commented on #588
Got it!

[2020-11-18 14:10] ErikEJ commented on #583
Ping?

[2020-11-18 17:48] thenrich2009 commented on #583
OK. You mean the message will show only once ever even during future use of the tool?

[2020-11-18 19:38] ErikEJ commented on #583
Yes.

[2020-11-18 22:22] sm15455 commented on #588
I refactored the code. I touched more files than I thought, but now everything work as before. The biggest problem is that TableInformationModel is no longer needed so I have to modify the tests to use the TableModel class. Do you want me to push a branch so you can check modifications before I adapt the tests?

[2020-11-19 06:26] ErikEJ commented on #588
Will you comment out the tests then or what? A PR with failing tests will not work.

[2020-11-19 07:14] sm15455 commented on #588
I just want you to validate my changes before I fix tests. I don't know what's the best way to do that.   Of there's no way, I'll fix the tests and create PR.

[2020-11-19 07:23] ErikEJ commented on #588
Ah, I see, just create a PR then, we can always just abandon (or fix the tests in a later commit)

[2020-11-19 13:39] ErikEJ commented on #592
@NutmegAdam  Did this unblock you?

[2020-11-19 14:25] NutmegAdam commented on #592
Yes, it did - my apologies, I thought I commended but apparently not. That got me to another error, but one that I believe is genuinely a database issue, and not a Power Tools issue.

Thanks!

[2020-11-19 14:28] ErikEJ commented on #592
Feel free to share the "other" error - sounds like an excellent integration test you were running!

[2020-11-19 15:29] NutmegAdam opened #594 "Reverse engineer error: The foreign key {'AssessmentId'} cannot be added to the entity type 'AssessOst' because a foreign key on the same properties already exists on entity type 'AssessOst' and also targets the key {'AssessmentId'} on 'Assessment'"
While attempting to scaffold a database, I encountered this error:

[code]

After speaking with my database guy, he said the likely issue is that the vendor for this db uses a combined PK and FK to enforce a 1:0/1:1 relationship between two tables, and that this is apparently an uncommon (as far as he is aware) scenario. So my first guess is that the scaffolder is getting hung up on this.

A few G

[2020-11-19 15:57] ErikEJ commented on #594
You have two identical foreign keys with different names, drop one of them.

[2020-11-19 16:13] NutmegAdam commented on #594
Aha, so it was a bad db schema, after all - thanks! This isn't a db we have control over, just one we can access. Will put the request in, and not hold my breath. :) Thanks, sorry for the false alarm!

[2020-11-19 16:17] ErikEJ commented on #594
@smitpatel why not just warn here?

[2020-11-19 18:15] smitpatel commented on #594
Filed issue on EF Core.

[2020-11-19 20:22] ErikEJ commented on #594
Duplicate of https://github.com/ErikEJ/EFCorePowerTools/issues/459

[2020-11-20 08:57] sonnemaf opened #595 "DbContextExtensions.SqlQuery() method should be named DbContextExtensions.SqlQueryAsync()"
The SqlQuery method is an Async method which returns a Task. The common naming convention says you should add the Async suffix to the name. You may consider adding an extra "overload". The SqlQuery() method uses ToArray() to execute the procedure. The SqlQueryAsync() method should use the ToArrayAsync().

[code]

The generated methods in the ...DbContextProcedures class should also have an Async s

[2020-11-20 09:03] ErikEJ commented on #595
Thanks, are you interested in creating a PR for the name change?

Not so sure about having a sync method, as this will increase the amount of generated code, and you can always call the async method in a sync way.

[2020-11-20 09:16] omatrot commented on #551
@ErikEJ Just to let you know that I've started the porting process of the old LinqToEdmx to [.NET Standard 2.1](https://github.com/omatrot/LinqToEdmx).

[2020-11-20 09:17] ErikEJ commented on #551
Wauw!

[2020-11-20 11:44] tjackadams opened #596 "Unable to exclude columns from model."
When I'm attempting to exclude a column using the following snippet from efpt.config.json

[code]

The excluded column is not excluded from the model. The efpt.config.json is also updated to the following (after scaffold).

[code]

### Steps to reproduce

- Add a column to the ExcludedColumns array of the table - from testing it doesn't matter what column you provide.
- Scaffold the database.

The

[2020-11-20 11:53] ErikEJ commented on #596
I think this may be temporarily broken...
@sm15455 FYI

[2020-11-20 12:02] sm15455 commented on #596
Thanks for feedback. I'm working on it right now and can confirm this is temporarily broken.

[2020-11-20 12:06] ErikEJ commented on #596
@tjackadams thanks for trying out this preview feature, will ping you when things are stable again.

[2020-11-20 12:21] sm15455 commented on #588
#597

This PR "almost" complete the task. I have to add some tests.

Furthermore,
- In Load selection and save Selection buttons should we save columns too or just leave table names?
- Should columns of unselected tables be disabled in the treeview?

[2020-11-20 13:45] ErikEJ commented on #588
Given that you can now use different efpt.config.json files in the same project, I plan to remove this feature entirely (in a future PR), so just leave as is.

That would be a nice feature to have, if possible, I think?

[2020-11-20 17:09] murugaratham commented on #340
Would love to see a cli, as I use vscode rather than visual studio

[2020-11-20 18:10] ErikEJ commented on #340
@murugaratham why are you unable to use the built-in EF Core Tools?

[2020-11-20 20:08] sm15455 commented on #588
Done

[2020-11-20 20:17] #596 closed

[2020-11-20 20:19] ErikEJ commented on #588
Thanks for your effort, guess we can close this now?

[2020-11-20 20:19] ErikEJ opened #598 "Remove save and load tables from tablepicker"

[2020-11-20 21:40] sm15455 commented on #588
I think there's one last thing to do: disable primary columns so that they cannot be unchecked in the treeview. This would require lots of work so maybe we can ignore it or open another issue.

[2020-11-20 23:00] jstrawther opened #599 "Context menu not present in VS 16.8.1"
I'm not seeing the context menu in Visual Studio 16.8.1.  I haven't used the extension in a while, so don't know when it disappeared, but would guess it occurred when upgrading from 16.7.x to 16.8.x.

### Steps to reproduce
Create a new .net core console app in VS 16.8.1.  Right-click the project in Solution Explorer.  Can't find EFPT context menu.

### Further technical details
EF Core Power Tool

[2020-11-21 06:34] ErikEJ commented on #599
The context menu is on the Project mode.

Have you checked if the extension is disabled?

[2020-11-21 06:37] ErikEJ commented on #588
I will open a new issue.

I guess it includes:

adding a list of primary key columns to table model

Using this list to select and disable column nodes that are primary key columns

Anything else?

[2020-11-21 08:27] sm15455 commented on #588
Please don't think too bad of me. I would take a "harder" path. I would separate the model that holds table information  from database **(DatabaseTableModel)** from the model used to serialize table information to efpt.config.json file **(SerializationTableModel)**. This might sound overkill but would completely separate these functionalities. If in the future you want to show column type in the t

[2020-11-21 09:30] ErikEJ commented on #588
Not overkill, makes a lot of sense.

Let me look into the DatabaseModel changes.

[2020-11-21 11:27] ErikEJ commented on #588
On second thoughts, feel free to start work on this. I will create a new issue now.

[2020-11-21 12:10] jstrawther commented on #599
It’s not disabled.  I’ve uninstalled and reinstalled it, and tried different versions. I installed .net sdk 3.1. Also tried updating to VS 16.8.2.  I still don’t see it. I’m not sure what to do to troubleshoot.

On Nov 21, 2020, at 00:34, Erik Ejlskov Jensen <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside your organization. Exercise caution when opening attachment

[2020-11-21 12:47] ErikEJ commented on #599
You can help by:

Showing me screen shot of the install status.

Showing me your project context menu for a csproj (C# project).

[2020-11-21 12:56] ErikEJ opened #600 "Disable Primary key columns in table/column UI"
Separate the model that holds table information from database (`TableModel`) from the model used to serialize table information to efpt.config.json file by introducing a `SerializationTableModel`, and use that in the ReverseEngineerOptions class.

So not:

    public List<TableModel> Tables { get; set; }

But:

    public List<SerializationTableModel> Tables { get; set; }

In ReverseEngineerOption

[2020-11-21 12:57] ErikEJ commented on #600
@sm15455 FYI (Small design changes, let me know what you think)

[2020-11-21 12:58] jstrawther commented on #599
![EFPT Install Status](https://user-images.githubusercontent.com/981617/99877879-bfac2a80-2bad-11eb-9289-b3139cd26678.png)

![Context Menu](https://user-images.githubusercontent.com/981617/99877883-c5097500-2bad-11eb-938c-ddd0b193fde2.png)

[2020-11-21 12:58] ErikEJ commented on #588
Created #600

[2020-11-21 12:58] #588 closed

[2020-11-21 13:03] ErikEJ commented on #599
That is weird, and not seen from any other user.

Maybe try to run ths? https://github.com/remcoros/DuplicateExtensionFinder

[2020-11-21 13:03] ErikEJ commented on #599
Have you tried on another machine?

[2020-11-21 13:56] #598 closed

[2020-11-21 13:56] #595 closed

[2020-11-21 16:49] jstrawther commented on #599
All good.  I uninstalled and reinstalled Visual Studio, added the extension, and it's working now.  Sorry for taking your time, thanks for your help.

[2020-11-21 16:49] #599 closed

[2020-11-22 10:17] ErikEJ commented on #600
We can also stop roundtripping HasPrimaryKey in the efpt.config.json file then.

[2020-11-22 10:19] ErikEJ opened #602 "Consider not using DDEX providers."
Use DbConnectionStringBuilder (like in SQL CE Toolbox with SQLite) and credentials manager instead.

Needs remove feature as well.

This would lower the barrier for additional providers.

Potentially support both scenarios.

Credential manager C#:  https://www.meziantou.net/how-to-store-a-password-on-windows.htm#uwp-application-or-d

[2020-11-22 15:08] sm15455 commented on #600
Sounds reasonable. I am starting to work on it and hope to finish very soon.

[2020-11-22 16:15] ErikEJ commented on #600
Hold your horses!  I am working on the TableModel part as we speak!

[2020-11-22 16:19] ErikEJ commented on #600
Sorry for not letting you know earlier!

[2020-11-22 17:57] ErikEJ commented on #600
@sm15455 PR is in now, maybe we should consider if TableModel.HasPrimary is needed any longer (can be calculated instead) ?

So the remaining part is to disable the primary and check the primary key columns in the UI.

[2020-11-22 17:59] sm15455 commented on #600
Yes I think HasPrimaryKey can be removed. I'll first fix UI and create a PR, then will add a commit to remove HasPrimaryKey.

[2020-11-22 20:05] sm15455 commented on #600
#606

[2020-11-23 06:21] #600 closed

[2020-11-23 06:21] ErikEJ commented on #600
Thanks for a great contribution!

[2020-11-23 06:44] sm15455 commented on #600
It was fun, but I have another idea. Do you think It woul be good to organize the treeview in table, view, function and procedure?

[2020-11-23 07:05] ErikEJ commented on #600
Potentially! That is what Microsoft does in their wizard.

[2020-11-23 07:10] sm15455 commented on #600
I have to stop for a couple of days since tomorrow I have a presentation of efcore 5 and  have to prepare material. After that, I can work on It. Should we open a new issue?

[2020-11-23 07:15] ErikEJ commented on #600
Yes, just go ahead and do that. Good luck with your presentation!

[2020-11-23 07:57] ErikEJ commented on #570
Not something I want to spend time on currently

[2020-11-23 07:57] #570 closed

[2020-11-23 10:34] ErikEJ opened #608 "Improve UI in Objects list"
Something similar to this - I think the "schema" (dbo) level is unnecessary.

![image](https://user-images.githubusercontent.com/4169187/99938441-1493a080-2d68-11eb-9014-406be957d223.png)

Current UI

![image](https://user-images.githubusercontent.com/4169187/99936978-c4ffa580-2d64-11eb-962d-bb934aa5065f.png)

@sm15455 FYI

[2020-11-23 15:16] sm15455 commented on #608
I have finished preparing my session. I can start working on it if it's ok for you.

[2020-11-23 15:31] ErikEJ commented on #608
Sounds great!

[2020-11-24 11:44] sm15455 commented on #608
![image](https://user-images.githubusercontent.com/5398631/100089948-c3141000-2e52-11eb-9366-aed2fa69d720.png)

What do you think?

[2020-11-24 11:55] sm15455 commented on #608
The parent nodes are: tables, views, stored procedures, functions. If the parent node has no children (because there are no objects or the search excluded them), the parent is hidden. When the parent node is selected, children selection is updated. When a child is selected, parent node selection enters in three state mode. Window is now resizable.

[2020-11-24 13:09] ErikEJ commented on #608
This looks great!
A few comments -

also have image on top level nodes? What do you think?

Views => Views/Keyless Tables

[2020-11-24 13:14] sm15455 commented on #608
Ok, but I'm very bad at finding images. If you have good ones, let me know.

Views => Database views. Tables => Database tables with and without PK. We can easily change it

[2020-11-24 13:25] ErikEJ commented on #608
EF Core does not differentiate between views and tables! There are DatabaseTable objects with or without a primary key.

For images, just use the ones for the nodes.

[2020-11-24 13:26] ErikEJ commented on #583
Possibly a Status Bar would work better!

[2020-11-24 13:31] sm15455 commented on #608
I know, but this screen shows database objects. I think it would be more clear to group objects using database meaning rather than EF meaning.

Ok

[2020-11-24 14:16] ErikEJ commented on #583
[code]

[2020-11-24 14:17] ErikEJ commented on #594
Closing as external

[2020-11-24 14:17] #594 closed

[2020-11-25 13:22] sm15455 commented on #608
![image](https://user-images.githubusercontent.com/5398631/100232940-54ee4c80-2f29-11eb-97ce-12e4e5294183.png)

I added images in main node. The whole tree required lots of changes in the ViewModels and need to fix the tests. Do you want me to create a PR so you can play with it? I'll fix the tests later with another commit.

[2020-11-25 13:45] ErikEJ commented on #608
Yes, please create a PR, and I will have a look at it!
Looks great!

[2020-11-26 01:33] nssidhu opened #610 "Stored procedure execution throws error if return values are null"
var _ = await _context.Database.ExecuteSqlRawAsync("EXEC @returnValue = [dbo].[sp_AddOrUpdateOrgLocation]
..................
..................................
@OrgLocationID_PK, @OrgID_FK, @UserID_FK, @LocationName, @LocationCode, @ContactPersonName, , parameterPaymentRequired, parameterNewOrgLocationID_PK, parameterErrorMessage, parameterreturnValue);

The line Below throws Error
            New

[2020-11-26 05:29] ErikEJ commented on #610
Please provide a full repo.

Which line exactly throws error??

[2020-11-26 06:35] ErikEJ opened #611 "Show views using new icon"
VS2015 Image Library\2015_VSIcon\View\View_16x.png

[2020-11-26 07:25] ErikEJ commented on #594
Will be fixed in EF Core 6

[2020-11-26 08:31] LiviuShiva opened #612 "Cannot select all stored procedures"
![IssueEFTools](https://user-images.githubusercontent.com/3812469/100323749-e19f1600-2fce-11eb-9d94-56fc999751ba.gif)
![IssueEFTools2](https://user-images.githubusercontent.com/3812469/100324670-3beca680-2fd0-11eb-8058-6e8f975e3414.gif)

### Steps to reproduce
When I try to select all objects (tables and SPs) from the database,  the tool select only the tables. More, when I want to check manualy a

[2020-11-26 08:40] ErikEJ commented on #612
Please await an update of the daily build, in the meantime use the version released on MarketPlace @sm15455  FYI

[2020-11-26 12:08] LiviuShiva commented on #612
I will do so. Thank you for work and this great and useful tool!

[2020-11-26 12:08] #612 closed

[2020-11-26 12:10] maximeozenne opened #613 "Database connection does not appear in the reverse engineering tool"
Hello ! Looks like it's a common problem, sorry to duplicate, I'm unable to spot my mistake.

### Steps to reproduce
I created a .sdf database file from the SQL Server compact toolbox extension. I was able to create a table and so on.
Now I want to scaffold the DbContext. I right-click on my project then choose "EF Core Power Tool" > "Reverse Engineer"

Here I have a form "Choose a Database Connec

[2020-11-26 13:00] sm15455 commented on #608
I think that we miss only one feature to pair EF6 wizard experience: the ability to move between screens. The back and next buttons. What di you think?

[2020-11-26 13:05] ErikEJ commented on #608
I think it is a lot of work, that no user (except you) has requested.

[2020-11-26 13:07] sm15455 commented on #608
Got It :D

[2020-11-26 13:29] ErikEJ commented on #613
SQL Server Compact is only supported with EF Core 2 - you may be able to download an older version of the extension from here, and use that: https://github.com/ErikEJ/EFCorePowerTools/wiki/Release-notes#24140-august-6-2020

Also, you cannot mix EF Core 1, 2 and 3 packages.

The EntityFrameworkCore.SqlServerCompact40.Design is no needed at all

[2020-11-26 14:14] #608 closed

[2020-11-26 14:16] ErikEJ commented on #608
Thanks for a great improvement to the tool!

[2020-11-26 14:23] sm15455 commented on #608
It was really fun. Thanks for letting me be part of it! I have some ideas to improve usability by giving user the ability to rename objects and columns using the UI. But, as you said before, it's something no user asked but me. I'll consider it in the future if other ask.

[2020-11-26 14:27] ErikEJ commented on #608
Are you thinking about this: https://github.com/ErikEJ/EFCorePowerTools/issues/152 ?

[2020-11-26 14:33] ErikEJ commented on #611
@sm15455 Maybe something for you?

[2020-11-26 14:34] ErikEJ opened #615 "Cannot open PickTableDialog in the designer"
@sm15455 Maybe you can help?

[2020-11-26 14:36] sm15455 commented on #608
Exactly.
I was thinking it could be done in two ways:

1. In the current tree we add a small icon next to tables and column name. When the user clicks on the icon, a textbox appears next to the name and let the user enter the new name.
2. Do something similar to previous solution, but in a new wizard screen.

[2020-11-26 14:36] sm15455 commented on #615
Can you tell me the steps to reproduce the problem?

[2020-11-26 14:47] ErikEJ commented on #615
Check out latest master

Open PickTablesDialog in WPF designer.

Severity	Code	Description	Project
File	Line	Suppression State
Error	XDG0008	Binding is not supported in a Windows Presentation Foundation (WPF) project.	EFCorePowerTools	C:\Code\EFCorePowerTools\src\GUI\EFCorePowerTools\Dialogs\PickTablesDialog.xaml	1

Severity	Code	Description	Project	File	Line	Suppression State
Error	XDG0008	The na

[2020-11-26 14:56] sm15455 commented on #615
Try removing the whole section. I can't check right now

[2020-11-26 14:57] ErikEJ commented on #615
Fixed with a VS restart

[2020-11-26 14:57] #615 closed

[2020-11-26 15:31] maximeozenne commented on #613
Thanks for your answer.

I firstly removed EntityFrameworkCore.SqlServerCompact40.Design.

But I have to admit that I'm a bit lost avec the EF Core versions. I am using EF Core 5 actually ?

In the release note you pointed, It's said that your EFCorePowerTools is working with EF Core 5. So do I have to only downgrade the version of your tool I am using, or do I have to also downgrade some of the p

[2020-11-26 15:44] ErikEJ commented on #613
You must use only version 2.2 packages!

[2020-11-26 16:13] maximeozenne commented on #613
Ok I installed the previous version of your PowerTool then downgraded all EntityFramework packages to 2.2.6. Everything worked like a charm !
Thanks a lot for your help !

[2020-11-26 16:13] #613 closed

[2020-11-26 16:39] ErikEJ commented on #608
Certainly more possible now, when all columns are shown in the UI

[2020-11-26 17:07] nssidhu opened #616 "Is it Possible to specify that Geography type be mapped to Point in C# ?"
Current Geography data type from Azure DB is created as Geometry, is there a way to instead create it as Point in C# ?

[2020-11-26 17:37] sm15455 commented on #611
AFAIK, in sql server views cannot have PK, but in oracle they can.
If the object is a view and has PK use the view icon.
If the object is a view and doesn't have a PK use the keyless icon

Is it ok or I should use the view icon for all views?

[2020-11-26 20:19] ErikEJ commented on #611
Just use the view icon for now, have no idea how the Oracle provider treats views with a primary key.

[2020-11-26 20:30] ErikEJ commented on #616
No, other than creating a mapping column...

[2020-11-26 20:30] #616 closed

[2020-11-26 23:34] bhroberts52 opened #618 "Reverse Engineer assigns wrong schema to table valued parameter from the database"
Situation:
I have a stored procedure that takes a table-valued parameter as input. The stored procedure and the table-valued parameter do not share the same schema. The EF Power Tool assigns the wrong schema to the table-valued in the XXContextProcedures class.

Here is a snippet of code from the XXContextProcedures class.  The error is in the schema of the type:

[code]

The stored procedure's sc

[2020-11-27 07:02] ErikEJ commented on #618
Happy to help, but need repro SQL code, thanks

[2020-11-27 07:05] #611 closed

[2020-11-27 10:09] sm15455 commented on #152
Could we re-open this?

[2020-11-27 10:42] ErikEJ commented on #152
@sm15455 wrote:

Exactly.
I was thinking it could be done in two ways:

In the current tree we add a small icon next to tables and column name. When the user clicks on the icon, a textbox appears next to the name and let the user enter the new name.

Do something similar to previous solution, but in a new wizard screen.

[2020-11-27 14:41] #583 closed

[2020-11-27 21:29] bhroberts52 commented on #618
I am attaching a minimal example SQL Script and NET5 solution.  The error is in LocationDbContextProcedures.cs on line 34.  I commented out that line and replaced it with what the tool should generate for the code to work. Thanks.
[CreateDatabaseScriptAndNet5Solution.zip](https://github.com/ErikEJ/EFCorePowerTools/files/5609587/CreateDatabaseScriptAndNet5Solution.zip)

[2020-11-28 09:47] sm15455 commented on #152
![image](https://user-images.githubusercontent.com/5398631/100498342-dcbe9b80-3161-11eb-8d6c-098a2e24c683.png)

I made some experiment and this is a very early preview UI.

However I have a problem. Tables in the renaming file are grouped by schema. Each schema has the UseSchemaName property. Since in the TreeView we don't group by schema, there's no correct place to show this flag to user.
I can

[2020-11-28 11:48] StephenNixey opened #620 "Fails to Generate DB Context over Large SQL Database"
Reverse Engineering fails with minimum details:
It does generate most of the code, fails to generate the DB Context Class.
Seems to have issues with some 'duplicates' and duplicates some field names on the generated entities.

The database is a large SQL server project.

Generated Message-box does not show.

This could be a DB issues causing the Generation to Crash so I will delve further into the

[2020-11-28 11:51] ErikEJ commented on #620
This is because you have a duplicate foreign key, as stated in the error message.

[2020-11-28 12:11] ErikEJ commented on #152
How about the ability to simply press F2 on the item (table name or column name), and then provide a textbox for entry of the new name? (That would of course require a new schema level for tables and views in the tree view)

And then the displayname could be something like "UserDefinedName [OriginalName]" ?

Dont worry too much about UseSchemaName, I think support for that can be skipped in first

[2020-11-28 12:12] ErikEJ commented on #620
Duplicate of #594 /cc @smitpatel - yet another customer affected

[2020-11-28 12:12] #620 closed

[2020-11-28 12:20] sm15455 commented on #152
I like that :)

ok

It should be easy, just have to figure if it breaks something.

This is something I would need help or maybe you could do.

This is not a problem once point 1 is completed.

You are right. If you could take care of point two, I could later work on the others

[2020-11-28 12:24] ErikEJ commented on #152
I can have a look at both 1 and 2 above. Will ping you when I start work one either one of them

[2020-11-28 13:01] ErikEJ commented on #610
Ping?

[2020-11-28 13:03] #618 closed

[2020-11-28 13:11] ErikEJ commented on #618
Thanks for reporting this, fixed in latest daily build

[2020-11-28 14:49] #420 closed

[2020-11-28 14:50] ErikEJ commented on #577
@tiomny is this still something you plan to do?

[2020-11-28 15:00] bhroberts52 commented on #618
Thank you!

[2020-11-28 15:44] bhroberts52 commented on #618
Just tried it, but I'm still seeing same issue.  Is there a delay in getting the new build through automatic updates?  (I also tried uninstalling and reinstalling through VS 2019 extensions to no avail. )  Continued thanks.

[2020-11-28 15:50] ErikEJ commented on #618
Did you download the daily build? Link in release notes in the wiki...

[2020-11-28 16:02] bhroberts52 commented on #618
Got it!  Works now.  Thanks for the hint!

[2020-11-28 16:47] StephenNixey commented on #620
Thank you for this, I will action at DB level to sort and re-run the rev-eng.
:-)

[2020-11-28 19:50] tiomny commented on #577
Yes, sir. Was busy at my other project, and just today I've started playing around with the code.

[2020-11-29 20:05] ErikEJ commented on #152
First one is done, PR in. Started work on the second one...

[2020-11-30 07:03] anomepani opened #623 "Can we generate All Models, DBContext of database to single Class file?"
Can we generate All Models, DBContext of the database to a single Class file?
If we get all autogenerated code in a single file that would be great.

[2020-11-30 07:06] anomepani opened #624 "Can we autogenerate FakeDbContext so that we can unit test functionality?"
Can we autogenerate FakeDbContext so that we can unit test functionality?

[2020-11-30 07:07] ErikEJ commented on #624
No, but you can use InMemory og SQLite in memory for testing

[2020-11-30 07:07] #624 closed

[2020-11-30 07:08] ErikEJ commented on #623
No, and that is not something I plan to do

[2020-11-30 07:08] #623 closed

[2020-11-30 12:55] karenpayneoregon opened #625 "Reverse engineering fails"
Describe what is not working as expected.

### Steps to reproduce
First off I've had this issue before, to resolve I would restart VS2017 and reverse engineering worked but not this time.
Attempt to reverse engineer in VS2017, get to the following screen and press OK
![1111](https://user-images.githubusercontent.com/17032797/100612075-3391b580-32c7-11eb-9ee3-48f53b59d299.png)

In the IDE Output wi

[2020-11-30 13:05] ErikEJ commented on #625
Have you tried VS 2019?

[2020-11-30 13:08] karenpayneoregon commented on #625
Well I decided to install you SQLite Simple DDEX provider, restart VS2017 and now reverse engineering is working. And note that VS2019 never had an issue but is one version back. So now all is fine.

[2020-11-30 14:25] #625 closed

[2020-11-30 15:47] ErikEJ commented on #610
Closed as no repro provided, feel free to re-open if you can provide one.

[2020-11-30 15:47] #610 closed

[2020-12-01 18:16] ErikEJ commented on #152
@sm15455 Item 2 is done now

[2020-12-01 18:20] sm15455 commented on #152
Great! I'll start working on the UI side in a couple of days.

[2020-12-02 16:24] stevestokes opened #627 "Enforcement of ID column name casing - EntityID -> EntityId"
Describe what is not working as expected.
Power tools is forcing the column casing in the models. In the database an identity column is set as EntityID casing and when the model renders it changes it to EntityId

### Steps to reproduce
Include a complete description that I can redo to reproduce the issue.
Build a model from a table with capital casing on ID

### Further technical details
EF Core P

[2020-12-02 16:27] ErikEJ commented on #627
It is actually the EF Core design library that suggests this.

If you use "Use database names" and EF Core 5, it should work as expected.

[2020-12-02 16:39] stevestokes commented on #627
So, it sort of does. If I use "Use database names" the ID fields are preserved. However, a table name like Users is preserved as Users. In previous versions, this was singularized to "User".

So with "Use database names"
ID columns = ID
Users = Users
db.Users.Add(...)
new Users()
{
...
}

Without "Use database names"
IS columns = Id
Users = User
db.User.Add(...)
new User()
{
...
}

As you can see

[2020-12-02 16:46] ErikEJ commented on #627
Have you enabled Pluralization? That should fix the Users <> User issue, I think

[2020-12-02 16:47] ErikEJ commented on #627
What generated that codebase?? You can opt-in to use the EF6 pluralizer...

[2020-12-02 16:57] stevestokes commented on #627
![image](https://user-images.githubusercontent.com/30118739/100905042-9d5fba00-3495-11eb-8f4e-94c4765552cd.png)

[2020-12-02 17:01] stevestokes commented on #627
If I uncheck "User table and column names directly from the database" it results in

User
{
UserId
}

If that is checked it results in
Users
{
UserID
}

[2020-12-02 17:05] stevestokes commented on #627
DB:
![image](https://user-images.githubusercontent.com/30118739/100905566-3989c100-3496-11eb-824f-ab8dbbb0a75f.png)

Option 1:
![image](https://user-images.githubusercontent.com/30118739/100905684-58885300-3496-11eb-8b35-212d8bd9cc0c.png)

results in:
![image](https://user-images.githubusercontent.com/30118739/100905766-70f86d80-3496-11eb-9824-5332668fc7c8.png)

Option 2:
![image](https://user-ima

[2020-12-02 18:07] ErikEJ commented on #627
Yes, those are the current options.

What is the actual issue?

[2020-12-02 18:29] stevestokes commented on #627
In previous versions of this software I was able to pluralize **and** preserve tables names/id columns:

[code]

Notice User is singular on the class and ID is not Id

[2020-12-02 18:35] ErikEJ commented on #627
Which EF Core version did you pick??

[2020-12-02 18:35] ErikEJ commented on #627
Please provide a sample CREATE Table script, and I will have a look.

[2020-12-02 21:59] stevestokes commented on #627
Thanks!

[code]

[2020-12-03 07:03] ErikEJ commented on #627
I wonder what "previous version of the tool" you are referring to - this has never worked until EF Core 5.

[2020-12-03 16:19] stevestokes commented on #627
I recently updated it but it was about a year old, still on vs2019

[2020-12-03 16:25] ErikEJ commented on #627
Ah, I used to have an quirky option to fix Id => ID. I removed that.

Please try EF Core 5 scaffolding.

[2020-12-03 20:24] melihsen opened #629 "Reverse Engineer: Setting indentation character as Tab"
In Visual Studio Text Editor preferences, I'm using "Keep Tabs" indentation option for all source files. But auto-generated files are created with space character for indentation. Is there any way to set Tab character for indentation?

[2020-12-03 22:48] netbitshift opened #630 "Any way to not generate [key] attributes?"
Had upgraded my extension recently.  Had been a while since I had updated the schema for a project.  When I did I started running into errors (not with the extension) but EF-related.  I noticed by comparing to the previous version of my code, that the [key] entity attributes were not present before, but after running the reverse engineering step with the updated extension, the [key] attributes wer

[2020-12-04 06:11] ErikEJ commented on #630
No, not that I know of, what is throwing that error?
The Key attribute was added always to help with OData scenarios

[2020-12-04 06:23] ErikEJ commented on #629
Have you tried the Handlebars templates?

[2020-12-04 10:26] netbitshift commented on #630
As mentioned above, the error is being thrown when I run my code (after rev eng the model ).  Its not the extension that is blowing up, but my code.  The only difference is now there are [key] annotations added where there were none before.  They were added on just about all entities that define a primary key, and looks like they were added for FK fields also.  That error I shared above is complai

[2020-12-04 10:33] ErikEJ commented on #630
If you would like me to investigate, please provide a sample SQL script and a simple code sample that fails.

[2020-12-04 10:37] ErikEJ commented on #627
Any update with trying EF Core 5?

[2020-12-04 13:13] Jochem-agro opened #632 "Using custom IDesignTimeService"
Hello

I made an implementation of IDesignTimeService for adding my own handlerbarhelpers when scaffolding the model classes. This works fine when using the scaffolding command via PowerShell but when using EF Core Power Tools the implementation of IDesignTimeService does not get called.

if you need more information please let me know.

### Steps to reproduce
1) Create Web project
2) Create .NET

[2020-12-04 13:17] ErikEJ commented on #632
Duplicate of #427 - not something I plan to implement.

[2020-12-04 13:17] #632 closed

[2020-12-04 13:23] Jochem-agro commented on #632
I see we'll just stick to the command, thanks for the quick reply.

[2020-12-05 07:25] ErikEJ commented on #630
EF Core 2.2 is no longer supported, I have a link in the release notes to a old version that you may be able to use with Ef Core 2.2.

[2020-12-05 07:25] #630 closed

[2020-12-05 07:26] ErikEJ commented on #629
I have no other suggestions.

[2020-12-05 07:26] #629 closed

[2020-12-05 09:56] sm15455 commented on #152
![image](https://user-images.githubusercontent.com/5398631/101239426-b5c71300-36e7-11eb-99ee-02a5f3cdb504.png)
![image](https://user-images.githubusercontent.com/5398631/101239433-c4152f00-36e7-11eb-93bc-3034f64ff5d5.png)

The work is almost done. There's two things I'm missing:

1. I return the custom replacing information but no efpt.renaming.json is created (I haven't investigated but I guess i

[2020-12-05 10:32] ErikEJ commented on #152
Amazing!

I will take care of persisting the result. Do you read any pre-existing info?

[2020-12-05 10:33] ErikEJ commented on #152
I have to think a little about the regex properties...

[2020-12-05 11:28] ErikEJ commented on #152
Let's descope the regex part for now, just must be sure it is preserved after editing.

[2020-12-05 11:48] sm15455 commented on #152
Yes. The PickTableDialog now accepts the schema returned by the call to CustomNameOptionsExtensions.TryRead(renamingPath, optionsPath); The dialog then return the modified schema (preserving existing options) to the ReverseEngineerHandler wich in turn puts the returned schema in the CustomReplacers property of ReverseEngineerOptions class.

Ok

[2020-12-05 16:11] ErikEJ commented on #627
As expected, this works with EF Core 5 scaffolding:

    public partial class User
    {
        public int UserID { get; set; }
        public string Username { get; set; }
    }

[2020-12-05 16:11] #627 closed

[2020-12-05 22:52] melihsen commented on #629
@ErikEJ
Handlebars templates solve the problem partially. Entity files is OK but inside of
OnModelCreating(ModelBuilder modelBuilder)
function created with spaces
I cannot find and correct it in Handlebars templates. It causes tabs and spaces together in DbContext file.

[2020-12-06 09:20] ErikEJ commented on #158
Closing as external, must be implemented in EF Core

[2020-12-07 07:08] ErikEJ opened #634 "Update to latest Handlebars lib - incl update of templates"
https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/148#issuecomment-739505480

[2020-12-07 11:55] netbitshift commented on #630
Thanks Erik, but I just dove in and brought all the projects up to the latest packages - .net 5 & ef fore 5.  Had some cleanup/refactoring to do, then switched over to using the fluent api and do some more cleanup.  Had to purge a few classes I had created to retrofit views into the EF model, but things seem to be working now.  We needed to do this sooner or later.

[2020-12-07 11:59] ErikEJ commented on #630
Great news!

[2020-12-07 12:38] #577 closed

[2020-12-07 13:17] tiomny opened #636 "[Proposal] Reverse Engineering - Always return TEntity[] from SP mapper"
At this point if an output column list could not be retrieved (SP uses temp table/dynamic SQL, etc), SP mapper returns Task<int>. SP mapper body calls ExecuteSqlRawAsync.
Other SP mappers return Task<procedurenameRESULT[]>. Since procedurenameRESULT class is partial, user can extend this class with custom properties in order to obtain data from SP with temp tables/dynamic SQL.

My proposal is to u

[2020-12-07 13:26] ErikEJ commented on #636
I am not sure I understand - the issue is that procedurenameRESULT is not generated, so it cannot be returned.

[2020-12-07 13:28] tiomny commented on #636
In this case an empty partial procedurenameRESULT class might be generated.

[2020-12-07 13:36] tiomny commented on #636
I know exactly what columns my SP returns. What I have to do currently:
1. Create class procedurenameRESULT with corresponding properties;
2. Create file in my project MydbContextProcedures.cs. As MydbContextProcedures class is partial, I just write
[code]
3. Add method to this class:
[code]
and implement mentioned way above.

[2020-12-07 13:41] ErikEJ commented on #636
I looks like the empty XxxResult class is always generated anyway, so it is just the method signature that needs to be changed.

Happy to get take PR for this - also makes the code simpler!

[2020-12-07 14:13] #636 closed

[2020-12-07 14:37] atinks opened #638 "Reverse Enginering Exception: Table list error: Unable to launch external process"
An Exception is thrown when I click on the Ok button of the Choose Database Connection form.

### Steps to reproduce
1. Right click and invoke reverse engineer menu option
2. Add a link to SQL Server database - ensure correct permissions to view tables etc.
3. Tick the Use EF Core 5 box
4. Click Ok - nothing happens.  The Output window displays exception information

Projects build report:
  Statu

[2020-12-07 14:43] ErikEJ commented on #638
Do you have the .net Core 3.1 runtime installed?

Maybe security software prevents execution?

[2020-12-07 14:47] atinks commented on #638
Thanks for the fast reply - I am pretty sure I have .net Core 3.1 runtime installed - will check.

[2020-12-07 14:59] atinks commented on #638
All earlier versions of the .Net Core SDK were removed when 5.0 was installed via 16.8 update.  All working now.

[2020-12-07 14:59] #638 closed

[2020-12-08 08:14] #152 closed

[2020-12-08 10:49] ErikEJ opened #641 "Improve docs for using multiple DbContexts in same project"
Including adding a screenshot

[2020-12-08 14:07] #641 closed

[2020-12-08 15:52] kinetiq commented on #211
Just coming to EF Core Power Tools, and it seems like this is should be an obvious problem. Every time I re-generate, I have to re-name several fields because they have bizarre names, to the extent that I'm the only one on my team who is allowed to re-generate... Bummed to discover there's no remedy and it isn't being considered.

Is this something you would accept a pull request on, if I could fi

[2020-12-08 15:57] ErikEJ commented on #211
@kinetiq sure, a PR that does not pull in huge amounts of EF Core code to do this would be appreciated.

[2020-12-08 16:01] kinetiq commented on #211
@ErikEJ Thanks, I will see what I can do. :)

[2020-12-08 16:04] ErikEJ commented on #211
@kinetiq great, let me know if I can help in any way.

[2020-12-08 18:37] dchillman123 opened #642 "Reverse Engineer and .net Core 5.0.1"
Describe what is not working as expected.
I have a .net core application referencing version 5.0.1 of the entity framework. Suddenly, when I reverse engineer, random tables are some of selections are not engineered and a random selection of tables which were not selected are engineered - playing havoc with my models.
### Steps to reproduce
Include a complete description that I can redo to reproduc

[2020-12-08 18:41] ErikEJ commented on #642
Could you please try to use the official release?

And more details would be nice, so we can get the bug fixed.

[2020-12-08 18:45] dchillman123 commented on #642
pardon my ignorance, but I am not sure what you mean by official release - I am using NuGet and Extensions from Visual Studio.

[2020-12-08 18:47] ErikEJ commented on #642
The version of the Power Tools you use is the latest daily build, not the official build from VS MarketPlace

[2020-12-08 18:59] ErikEJ opened #643 "Update to EF Core 5.0.1"
- [x] Dacpac lib
- [x] EF reveng runner

[2020-12-08 19:22] dchillman123 commented on #642
thank you for the quick response - using the official version resolved the issue.

[2020-12-08 19:28] ErikEJ commented on #642
I would be very grateful if you could provide details about the issue you encountered

[2020-12-08 19:56] dchillman123 commented on #642
it seems to be related to selecting the "Use EF Core 5" option,  then selecting the "Use DataAnnotation attributes....".

If I first reverse engineer without those options, the model gets created as expected.  If I then reverse engineer with those options, all hell breaks loose and there is no telling which tables will be generated.  This occurs with the official version as well.

[2020-12-08 19:59] ErikEJ commented on #642
Thanks, I will try to replicate..

[2020-12-08 20:19] ErikEJ commented on #642
Are you seeing that some entities no longer appear in the Model creating code in your DbContext?

[2020-12-08 20:30] cosswift opened #644 "Table-Per-Type Support"
Add support for the Table-Per-Type.
  In the table tree have a combo box that allow you to pick another table in the list that will be the base class
    Pick a base table will ensure that the it is checked in the tree and will disable it form being unchecked
    Pick a base table will then uncheck any columns that exist in the base table, including the PK
  The generation of the tables will exclu

[2020-12-08 20:35] dchillman123 commented on #642
yes, some entities disappear, and some entities that were not selected appear.
I have attached the efpt.config.json file for the initial reverse engineer, and after choosing the "use dataannotations ..." option.  the dbcontext matches the entities in the config file, but the entities in the config file do not match what was selected.

[efpt.config_initial.zip](https://github.com/ErikEJ/EFCorePower

[2020-12-08 20:54] ErikEJ commented on #642
Unable to repro...

[2020-12-08 20:54] #643 closed

[2020-12-08 20:59] dchillman123 commented on #642
ok.  very reproducible on my side - as time permits I will try to create some db scripts for my db and send my solution.

[2020-12-08 21:01] ErikEJ commented on #642
That would be great!

[2020-12-08 21:15] ErikEJ commented on #558
Latest daily allows you to remove columns.

[2020-12-08 21:43] mikependon commented on #558
@ErikEJ - cool updates as I just tested it. I liked the fact that you can search from it as well. Thanks!

[2020-12-08 21:47] mikependon commented on #558
One thing that I notice, the unstructured table names seems to have been generated wrongly.

![image](https://user-images.githubusercontent.com/591015/101545089-0324d800-39a7-11eb-8733-7062830b8b57.png)

Generated models.

[code]

I would expect that the class is annotated with the `Table` attribute with vaue `Dotted.Table`, like `[Table("Dotted.Table", schema = "dbo")]`, or something?

Please do

[2020-12-09 04:38] ErikEJ commented on #558
@mikependon Pls. create a seperate issue, as this has no relevance here.

[2020-12-09 06:28] ErikEJ commented on #558
@mikependon For the Generate screen, could you clarify what is actually needed versus what should simply be set to default values - maybe you can draw/strike over on top of the screenshot.

It is not entirely clear to me at the moment.

[2020-12-09 09:45] TanguyPa opened #645 "Renaming SQL objects with schema not working anymore"
Since the last update (yesterday it worked), I can't generate the models of my SQL objects with the right name anymore.
I was using the efpt.renaming.json file like this:
[code]
Before the update, it worked and generated the objects for me using the schema name as a suffix.
For example theses views: dev.myView ,test.myView ,prod.myView became myViewDev, myViewTest, myViewProd model in C#.
Now when

[2020-12-09 10:02] ErikEJ commented on #645
Thanks for trying the preview version, I am guessing it could be a bug.

@sm15455 FYI

I will try to replicate base on your description.

[2020-12-09 10:18] sm15455 commented on #645
I will investigate the issue.
@TanguyPa Keep in mind that regex and UseSchemaName options are not available in the UI right now. In any case, the file shouldn't have been deleted and your settings should have been preserved.
@ErikEJ Should we find a way to add support for UseSchemaName and regex options in the UI?

[2020-12-09 10:20] ErikEJ commented on #645
Let's hear more people ask for it first.

But we should investigate the roundtripping issue

[2020-12-09 11:21] ErikEJ commented on #645
@TanguyPa You can rename tables and columns directly in the UI now, just press F2 on table and column label

[2020-12-09 11:32] ErikEJ commented on #645
@sm15455 I can see the roundtripping from the view model fails, I will let you look into a fix.

[2020-12-09 12:01] sm15455 commented on #645
@ErikEJ I'll be able to give a look later in the afternoon.

[2020-12-09 13:22] TanguyPa commented on #645
Thanks for this, but with the UI i get lot of bug, when i try to rename objects or check object, some other objects get uncheck randomly. For example i check some views, then i checks some  stored procedure and randomly some or every views that i check before are uncheck

So i have to fill file config manually.

[2020-12-09 13:55] ErikEJ commented on #645
Thanks for trying out the preview, and reporting this.

[2020-12-09 14:29] ErikEJ commented on #645
@TanguyPa Just go back to using the official release version from VS MarketPlace in the meantime

[2020-12-09 14:50] TanguyPa commented on #645
Yes that's what i did.
Thank you for your work

[2020-12-09 15:16] flamecrow opened #646 "Selecting stored procedures randomly selects/unselects other procedures after scrolling"
When choosing database objects, checking stored procedures randomly checks/unchecks other procedures after scrolling.

![2020-12-09-07-04-51](https://user-images.githubusercontent.com/20115963/101647894-1f983300-39ee-11eb-957c-8a0b157ed538.gif)

### Steps to reproduce
1.  Right click project > EF Core Power Tools > Reverse Engineer
2.  Select Database from dropdown (must have many stored procedure

[2020-12-09 15:37] ErikEJ commented on #646
Thanks for the video, possible duplicate of #645

@sm15455 FYI

[2020-12-09 18:13] ErikEJ commented on #646
I was able to replicate, once I had many stored procedures. I have attached a script to generate many stored procedures.

[ManySprocs.sql.txt](https://github.com/ErikEJ/EFCorePowerTools/files/5667803/ManySprocs.sql.txt)

[2020-12-09 19:53] ErikEJ commented on #642
Maybe a duplicate of #645 ?

[2020-12-09 20:51] sm15455 commented on #646
Got it. It's a TreeView virtualization problem. I'll disable it while looking for a better solution.

[2020-12-09 20:54] michaelkollmann opened #647 "Customize (re)naming convention of navigation properties"
I'm using EF Core Power Tools to reverse engineer my data model from a .dacpac file.
Everything works fine so far and I'm really enjoying it!

The one thing that does not fit in with my environment is the naming of the navigation properties in the models.
For example, having a foreign key property named "IdSensor" gets turned into "IdSensorNavigation".
I however would much prefer the navigation pr